body, tbody,tr,td{
	margin: 0px;
	padding:0px;
	font: 12px Arial, Tahoma;
	text-align: left;
}
.img{border:none;}
.smalltxt {
	font: 12px Arial, Tahoma !important;
	font: 11px Arial, Tahoma;
}
html, body {
	background: #f3f3f3;
}

input, textarea, select {
	margin: 5px 5px 5px 0;
	border: 1px solid #CECECF;
	font: 12px Tahoma;
	line-height: 18px;
	color: #555;
	background: #FFFFFF;
	padding:4px;
	vertical-align:middle;
	box-shadow: 2px 2px 2px #F0F0F0 inset;
}
form {
	margin: 0px;
}
textarea {
	overflow: auto;
}
.checkbox, .radio {
	border: 0px;
	background: none;
	vertical-align: middle !important;
	vertical-align: baseline;
	margin-bottom: 5px !important;
	margin-bottom: 0;
	height: 16px;
}
a {
	text-decoration: none;
	color: #266AAE;
}
a:hover {
	text-decoration: underline;
}

.fR{ color:#D94446}
.fG{ color:#D94446}
.lf{ float:left;}
/* ====================================================== */
/* ===========logo============== */

.logo {
	width: 168px;
	height: 50px;
	padding-top: 10px;
	padding-left: 5px;
}

.logoimg {
	display: block;
	width: 33px;
	height: 33px;
	float: left;
	padding-right: 8px;
}

.editiontext {
	padding-top: 4px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

/* ====================================================== */
/* ===========主菜单标签============== */

.topmenubg {
	background: url(../../static/image/admincp/bg_header.gif?20140922) repeat-x;
}
.topmenu {
	height: 38px;
	float: left;
	min-width: 600px;
	width: 680px;
	font-size: 14px;
	font-weight: bold;
	color: #555555;
	margin-top: 24px;
}
.topmenu ul {
	margin: 0px;
	padding: 0px;
}

.topmenu li {
	float: left;
	border: solid 1px #43809C;
	border-bottom: none;
	list-style-type: none;
	margin-right: 1px;
	margin-top: 2px;
}

.topmenu span {
	display: block;
	float: left;
	padding: 0 10px;
	background: url(../../static/image/admincp/bg_menu2.gif?20140922);
	height: 25px;
	line-height: 25px;
	border: solid 1px #FFFFFF;
	border-bottom: none;
	color: #555555;
}

/* ===========当前链接标签============== */

#menuon {
	margin-top: 0px;
	height: 30px;
	line-height: 30px;
	border: solid 1px #525C3D;
	border-bottom: none;
	background: url(../../static/image/admincp/bg_menu.gif?20140922);
}

#menuon span {
	padding-top: 1px;
	background: url(../../static/image/admincp/bg_menu.gif?20140922);
	border: solid 1px #FFFFFF;
	height: 27px;
	border-bottom: none;
}
#menuon span a {
	color: #003366;
}

/* ====================================================== */
/* ===========左侧菜单============== */

.leftmenulist {
	margin: 2px;
	width: 134px;
}

.leftmenutext td {
	background: url(../../static/image/admincp/leftmenu_bg.gif?20140922) repeat-x;
	width:136px;
	height:30px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 0px 8px;
}

.leftmenutext a {
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
}

.leftmenutd td {
	background: #FFFFFF;
}

.leftmenuinfo {
	margin-left: 0px;
	margin-bottom: 0px;
	width: 134px;
	border:#ccc 1px solid;
	border-bottom:none;
}

.leftmenuinfo td{
	height: 2.0em;
	line-height: 2.0em;
	border-bottom: solid 1px #ccc;
	text-indent: 8px;
}

/* ====================================================== */
/* ===========主内容显示表格============== */
.guide{ border-bottom:10px;}
.guide td {
	border: 1px solid #1598CB;
	background-color: #FBFFE1;
	line-height: 1.2em;
	height: 28px;
	text-indent: 20px;
	color: #FF6600;
}

.tableborder {
	margin-bottom:10px;
	/*border:1px solid #ededed;*/
	border-top:none;
	clear:both;
}
.tableborder tr.altbg1:hover{ color:#333;}
.tableborder td {
	line-height: 2em;
	height: 2em;
	*padding: 4px 4px 4px 12px;
	padding: 4px 0 4px 12px;
	background: #f9f9f9;
	color:#666;
}


.tableborder td.ke-textarea-outer{ padding:0;}
/*.tableborder td b{ font-weight:500;}*/
.tableborder td ul, .tableborder td ul li {
	line-height: 22px;
	margin-bottom: 0px;
	margin-top: 0px;
}
.tableborder td img {
	margin-top: 8px;
}
.tableborder td .smalltxt {
	line-height: 20px;
	color:#999;
}

.sub td.altbg1 {
	padding-left: 1.5em;
}
.category td {
	color: #333333;
	background-color: #F0F0F0;
}
td.altbg1, .altbg1 td {
	background: #f7f7f7;
}
td.altbg11, .altbg11 td {
	background: #f7f7f7;
	width:20%;
}
td.altbg2, .altbg2 td {
	background: #ffffff;
/*	border-bottom:#fff 1px solid;
	border-left:#fff 1px solid;*/
}
.header td {
	line-height: 16px;
	height: 30px !important;
	> height: 29px !important;
	height: 29px;
	font-weight:bold;
	color: #666;
	padding: 0px 8px;
	background: #E6E6E6;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #dfdfdf;
	font-size:12px;
}
.header td em{ font-weight:500; font-style:normal;}
.jswizard tr {
	border-left: 1px solid #fff;
}

.jswizard td {
	padding: 0px;
}

.header a{
	color: #266AAE;
}

/* ====================================================== */
/* ===========按钮式样============== */

.button,.btn{
	background: #1472CF;
	background-color: #1575d5;
	background-image: -moz-linear-gradient(top, #1d7fe2, #0865c2);
	background-image: -ms-linear-gradient(top, #1d7fe2, #0865c2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1d7fe2), to(#0865c2));
	background-image: -webkit-linear-gradient(top, #1d7fe2, #0865c2);
	background-image: -o-linear-gradient(top, #1d7fe2, #0865c2);
	background-image: linear-gradient(top, #1d7fe2, #0865c2);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d7fe2', endColorstr='#0865c2', GradientType=0);
	border: 1px solid #0D6EB8;
	color: #fff;
	font-size: 12px;
	line-height: 1.7;
	text-decoration: none!important;
	vertical-align: middle;
	display: inline-block;
	_display: inline!important;
	text-align: center;
	padding: 2px 10px;
	cursor: pointer;
	border-radius: 3px;
	white-space: nowrap;
	word-wrap: break-word;
	box-shadow: 0 1px 0 rgba(255,255,255,.2) inset,0 1px 0 rgba(0,0,0,.2);

}

.abutton {

	background:#779E00;
	height:35px;
	line-height:35px;
	cursor:pointer;
	margin:0 8px 8px 0;
	border-radius:5px;
	border:none;
    font-size:14px;
	font-weight:600;

}

.addCategory{
	background: url(../../static/image/admincp/bg_repno.gif?20140922) no-repeat 0px 7px;
	padding-left: 15px;
	margin-top: 4px;
	float: left;	
}

/* ====================================================== */
/* ===========footer============== */

.footer {
	height: 10px;
	margin: 15px;
	text-align: center;
}

/* ====================================================== */
/* ==========page分页=========== */

.pages {
	margin: 10px 0px;
	height: 26px;
	line-height: 24px;
	color: #999;
	overflow: hidden;
}
.pages a, .pages strong, .pages em {
	float: left;
	padding: 0 5px;
	background: #F7FAFA;
	border: 1px solid #6699CC;
	border-left: 0;
}
.pages strong {
	font-weight: bold;
	color: #6699CC;
	background: #E8EDF2;
}
.pages em {
	border: 1px solid #6699CC;
}
.pages a.prev, .pages a.next {
	line-height: 22px;
	font-family: Arial;
	color: #1F90CF;
	padding: 0px 15px 2px;
}
.pages kbd {
	float: left;
	padding: 0 8px;
	margin: 0;
}
.pages input {
	margin: 0px;
	margin-left: 0.5em;
	height: 22px !important;
	> height: 21px !important;
	height: 21px;
	line-height: 22px;
}


/* ====================================================== */
/* ==========日历=========== */
#calendar {
	BORDER-RIGHT: #9db3c5 1px solid; BORDER-TOP: #9db3c5 1px solid; BACKGROUND: url(../../../static/image/default/headbox.gif?20140922) #f5fafe repeat-x 0px 0px; MARGIN-BOTTOM: 0.8em; BORDER-LEFT: #9db3c5 1px solid; BORDER-BOTTOM: #9db3c5 1px solid
}
#calendar TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#calendar_week TD {
	LINE-HEIGHT: 2em; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 2em
}
#hourminute TD {
	PADDING-RIGHT: 2px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.calendar_expire {
	FONT-WEIGHT: normal; COLOR: #666
}
.calendar_expire A:link {
	FONT-WEIGHT: normal; COLOR: #666
}
.calendar_expire A:visited {
	FONT-WEIGHT: normal; COLOR: #666
}
.calendar_default {
	COLOR: #069
}
.calendar_default A:link {
	COLOR: #069
}
.calendar_default A:visited {
	COLOR: #069
}
.calendar_checked {
	FONT-WEIGHT: bold; COLOR: #090
}
.calendar_checked A:link {
	FONT-WEIGHT: bold; COLOR: #090
}
.calendar_checked A:visited {
	FONT-WEIGHT: bold; COLOR: #090
}
TD.calendar_checked {
	BACKGROUND: #ddd
}
SPAN.calendar_checked {
	BACKGROUND: #ddd
}
.calendar_today {
	FONT-WEIGHT: bold; COLOR: #000
}
.calendar_today A:link {
	FONT-WEIGHT: bold; COLOR: #000
}
.calendar_today A:visited {
	FONT-WEIGHT: bold; COLOR: #000
}
#calendar_header TD {
	FONT-WEIGHT: normal; WIDTH: 30px; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 20px
}
#calendar_year {
	DISPLAY: none; Z-INDEX: 10; BACKGROUND: #f5fafe; LINE-HEIGHT: 130%; POSITION: absolute
}
#calendar_year .col {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 4px; BACKGROUND: #f5fafe; FLOAT: left; PADDING-BOTTOM: 4px; MARGIN-LEFT: 1px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #ddd 1px solid
}
#calendar_month {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ddd 1px solid; DISPLAY: none; PADDING-LEFT: 4px; Z-INDEX: 11; BACKGROUND: #f5fafe; PADDING-BOTTOM: 4px; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 130%; PADDING-TOP: 4px; BORDER-BOTTOM: #ddd 1px solid; POSITION: absolute
}

/* ====================================================== */
/* ==========其他=========== */

.formulaeditor {
	margin: 5px 0px;
	width: 90%;
	border: 1px solid #6699CC;
}

.formulaeditor div{
	padding: 2px;
}

.formulaeditor textarea{
	border: 0px;
	border-top: 1px solid #6699CC;
	margin: 0px;
	padding: 0px;
}

.formulaeditor a {
	border: 1px solid #6699CC;
	padding: 2px;
	background: #FFFFFF;
	line-height: 25px;
}

.process {
	width: 400px;
	height: 40px;
	background: url(../../static/image/admincp/process.gif?20140922) repeat-x;
	text-align:left;
	border: 1px solid #000000;
}

.processbg {
	width: 402px;
	height: 40px;
	line-height:
	40px;text-align:center;
	color:#fff;
	background: url(../../static/image/admincp/processbg.gif?20140922) -0% 0 no-repeat;
}
/**排序*/
.order
{
	padding-right:14px;
	background-repeat : no-repeat;
	background-position:right center; 
}
	.order_asc
	{
		background-image:url(../../static/image/admincp/arrow_up.gif?20140922)
	}
	.order_desc
	{
		background-image:url(../../static/image/admincp/arrow_down.gif?20140922)
	}
	
/**分类样式(用到的不能删除)*/
.addtr{ 
	padding-left:17px; 
	line-height:25px; 
	background:url(../../static/image/admincp/bg_repnoavatar.gif?20140922) no-repeat 0 0px; 
	color:#F60;
	vertical-align: middle;
}
.node, .board{ padding-left:55px; background:url(../../static/image/admincp/bg_repnoavatar.gif?20140922) no-repeat -240px -550px; }
.node .txt, .lastnode .txt, .newnode .txt{ width:250px; }
.parentnode .txt{ width:250px; font-weight:700; }
.parentboard .txt{ font-weight:700; }
.lastnode, .lastboard{ padding-left:55px; background:url(../../static/image/admincp/bg_repnoavatar.gif?20140922) no-repeat -240px -600px; }
.childboard{ padding-left:110px; background:url(../../static/image/admincp/bg_repnoavatar.gif?20140922) no-repeat -185px -550px; }
.lastchildboard{ padding-left:110px; background:url(../../static/image/admincp/bg_repnoavatar.gif?20140922) no-repeat -185px -600px; }
.boardattr{ position:absolute; left:340px; margin-top:-20px !important; margin-top:-19px; color:#999;}

.feedUservideo {overflow:hidden;position:relative;width:470px;}
.feedUservideo .vP{position:absolute; margin:32px 46px;}
.feedCell .feedUservideo .vP img{ border:none; filter:alpha(opacity=70); /*IE滤镜，透明度50%*/
-moz-opacity:0.7; /*Firefox私有，透明度50%*/
opacity:0.7;/*其他，透明度50%*/}

.liS {
	float:left;
	margin-left:10px;
	overflow:hidden;
	padding:5px;
	white-space:nowrap;
	width:23%;
}

.ke-toolbar td {
	border:none;
	padding: 2px 5px;
	margin:0;
}
.ke-toolbar-table {
	font-size: 0;
	line-height: 0;
	float: left;
	clear: both;
	border:none;
	padding:0;
	margin:0;
	border-collapse:separate;
}
.ke-toolbar-separator {
	border-left: 1px solid #A0A0A0;
	border-right: 1px solid #FFFFFF;
	border-top:0;
	border-bottom:0;
	width: 0;
	padding: 0;
	margin: 0 2px;
	height: 16px;
}
.ke-toolbar-table td {
	border:none;
	padding: 0;
	margin:0;
}
 
/*元素分隔*/
.mt10{margin-top:10px;}

/*后台子导航*/
ol, ul {list-style: none; padding:0px; margin:0px;}
.cc{*zoom:1;}
.cc:after{content:'\20';display:block;height:0;clear:both;}
.nav3{ margin-top:15px;}
.nav3 ul{}
.nav3 li{float:left;margin-right:5px;}
.nav3 li a{height:25px;line-height:25px;padding:3px 15px;display:inline-block;background:#dbe8f6;float:left;outline:none;color:#266AAE;}
.nav3 li a:hover{ text-decoration:none;background:#0088cc;color:#fff;}
.nav3 .current a{background:#0088cc;color:#fff;}
.nav4{border-top:1px solid #88afd5;padding-top:5px;}
.nav4 li{float:left;padding:2px 0;}
.nav4 li a{line-height:25px;height:25px;padding:0 15px;float:left; white-space:nowrap;color:#336699;}
.nav4 li a:hover{text-decoration:none;}
.nav4 .current a{ font-weight:700; background-color:#f1f1f1;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:#336699;}

/*数据列表*/
.tl .list_h td{ background:#f3f3f3; border-bottom: solid 1px #f3f3f3; height:20px; line-height:20px; color:#008800}
.tl .list_h_2 td{border-bottom: solid 1px #DDE9F5; background:#F5FAFF;color:#008800}
.tl .td2{ background:#fff; border-bottom: solid 1px #f3f3f3; line-height:25px; height:25px;}

/*组群分类*/
.lower,.lower_b{background:url(../../static/image/admincp/cat_bg.png?20140922)}
.lower{float:left;width:24px;height:21px;overflow:hidden;background-position:-24px 0;margin:4px 10px 0 0;}
.lower_a{background-position:-48px -50px;}
.lower_b{float:left;width:24px;height:21px;overflow:hidden; margin:4px 10px 0 5px;}
.lower-child{ margin-left:60px;}
.l-box{background:url(../../static/image/admincp/tree.png?20140922) no-repeat 0 0;width: 22px;height: 22px;overflow: hidden;float: left; margin:5px 0;}
.l-expandable-open{ background-position:0px -88px}
.l-expandable-close{ background-position:0px 0px;}
.l-box-line{background:url(../../static/image/admincp/tree.png?20140922) 0px -245px;width: 15px;height: 22px;overflow: hidden;float: left; margin:5px 0;}
.l-box-linec{ padding-left:15px;}
#samplesToc {
	display: block;
	background: #fff;
	padding: 10px;
}
.treeDiv {
	color: #636363;
	font-size: 12px;
	font-weight: normal;
	background-color: #fff;
	color: black;
	overflow: auto;
	padding: 0 0 1em 0;
	overflow-x: hidden;
}
.treeNode {
	white-space: nowrap;
	text-indent: -14px;
	margin: 6px 2px 5px 14px;
}
a.treeUnselected:hover, a.treeSelected:hover {
	background-color: #BFD9ED;
	text-decoration: none;
}
a.treeUnselected, a.treeSelected {
	color: black;
	padding: 1px 3px 1px 0;
	text-decoration: none;
}
a.treeSelected {
	background-color: #B9E0F7;
}
a.treeUnselected {
	background-color: transparent;
}
.treeSubnodes {
	display: block;
}
.treeSubnodesHidden {
	display: none;
}
.treeNode img.treeNoLinkImage, .treeNode img.treeLinkImage {
	height: 15px;
	margin-left: 5px;
	margin-right: 0px;
	width: 15px;
}
.treeNode img.treeLinkImage {
	cursor: pointer;
}
div.treeNode a, div.treeNode span.apiRoot {
	display: inline-block;
	margin-left: 24px;
	text-indent: 0;
	white-space: normal;
	width: 95%;
	word-wrap: break-word;
}
div.treeNode span.category {
	cursor: pointer;
}

.n-top,.n-left,.n-child{ display:inline;}

/**输入提示*/
.input_tips{ margin-left:5px;vertical-align:middle;}

/*弹出对话框样式*/
.dialog_wrapper { background: #595959; padding:7px;-moz-border-radius:5px;-webkit-border-radius:5px; display:block}
.dialog_body { background: #fff; padding:0 0 5px 0;}
.dialog_head {}
.dialog_title {color: #333; font-size: 12px; font-weight: bold; padding: 0px 10px 0px 10px; display: block; line-height:38px;background: #fff url(../../static/image/dialog/dialog_title_bg.gif?20140922) repeat-x; }
.dialog_title_icon{display:block; clear:both; height:38px;}
.dialog_close_button {display: block; width: 15px; height: 15px; background: url(../../static/image/dialog/dialog_close_bg.gif?20140922) 0 0px; position: absolute; top: 11px; right: 10px;}
.dialog_content { background:#fff;}
.dialog_content .topic_new_add .sendBox .sendInsert{_position:absolute;_top:150px;_left:-10px;}
.dialog_content .topic_new_add .sendBox .sendSubmit{_padding-top:30px;}
.dialog_loading { text-align:center; width:300px;}
.dialog_loading_text { padding:0px;padding-top:20px;padding-left:10px;width:220px;font-style:italic;margin:15px auto 5px auto; text-align:left; font-size:15px;background:transparent url(../../static/image/loading.gif?20140922) no-repeat center top; }
.dialog_message_body { margin:15px 5px 5px 5px; }
.dialog_message_contents { margin:0px 10px; padding-left:45px; padding-top:5px; padding-bottom:20px; }
.dialog_message_notice { background:transparent url(../../static/image/dialog/message_notice.gif?20140922) no-repeat left top; }
.dialog_message_warning { background:transparent url(../../static/image/dialog/message_warning.gif?20140922) no-repeat left top; }
.dialog_message_confirm { background:transparent url(../../static/image/dialog/message_confirm.gif?20140922) no-repeat left top; }
.dialog_buttons_bar { text-align:center;margin-top:5px; }
.dialog_buttons_bar input { margin:0px 5px; }
.dialog_buttons_bar .btn1 {height:26px; line-height:26px; background:url(../../static/image/v4_img01_r2.png?20140922); border:none;cursor:pointer; color:#fff;border-radius: 2px; padding:0 15px;margin:0;box-shadow:none; font-size:12px; font-weight:normal;}
.dialog_buttons_bar .btn1:hover{ background:url(../../static/image/v4_img01_r4.png?20140922);}
.dialog_buttons_bar .btn2 {height:26px; line-height:26px; background-color:rgba(182, 182, 182, 0.7); border:none;cursor:pointer;color:#333;border-radius:2px;padding:0 15px;margin:0;box-shadow:none;font-size:12px; font-weight:normal;}
.dialog_buttons_bar .btn2:hover{ background-color:#d5d5d5;}

.dialog_has_title { background: #555; }
.dialog_has_title .dialog_body { background:#fff; bottom:3px; right:3px; padding:10px; border:4px solid #dadada; color: #666;}
.dialog_has_title .dialog_head { background: url(../../static/image/dialog/login_h1.gif?20140922); height: 30px;}
.dialog_has_title .dialog_title { color: #666; font-size: 16px; font-weight: bold; background: #fff url(../../static/image/dialog/linebox_h1_span.gif?20140922) no-repeat left 3px; padding: 4px 10px 5px 15px; display: block; float: left; }
.dialog_has_title .dialog_close_button { position: absolute; top: 10px; _top:14px; right: 10px; background: #fff url(../../static/image/dialog/dialog_close_button.gif?20140922) no-repeat right bottom; width: 21px; height: 21px; padding-right: 10px; overflow: hidden; cursor: pointer;}
.dialog_has_title .dialog_close_button:hover {background: #fff url(../../static/image/dialog/dialog_close_button.gif?20140922) no-repeat right top;}
.dialog_has_title .dialog_content {}
.dialog_has_title .dialog_loading { text-align:center; }
.dialog_has_title .dialog_loading_text { padding:0px;padding-top:20px;padding-left:10px;width:220px;font-style:italic;margin:15px auto 5px auto; text-align:left; font-size:15px;background:transparent url(../../static/image/loading.gif?20140922) no-repeat center top; }
.dialog_has_title .dialog_message_body { margin:15px 5px 5px 5px; }
.dialog_has_title .dialog_message_contents { margin:0px 10px; padding-left:45px; padding-top:5px; padding-bottom:20px; }
.dialog_has_title .dialog_message_notice { background:transparent url(../../static/image/dialog/message_notice.gif?20140922) no-repeat left top; }
.dialog_has_title .dialog_message_warning { background:transparent url(../../static/image/dialog/message_warning.gif?20140922) no-repeat left top; }
.dialog_has_title .dialog_message_confirm { background:transparent url(../../static/image/dialog/message_confirm.gif?20140922) no-repeat left top; }
.dialog_has_title .dialog_buttons_bar { text-align:center;margin-top:5px; }
.dialog_has_title .dialog_buttons_bar input { margin:0px 5px; }
.dialog_has_title .dialog_buttons_bar .btn1 { width: 75px; height: 29px; border: 0; background: url(../../static/image/dialog/btn1.gif?20140922); color: #c73702; font-weight: bold; font-size: 14px;}
.dialog_has_title .dialog_buttons_bar .btn2 { width: 75px; height: 29px; border: 0; background: url(../../static/image/dialog/btn2.gif?20140922); color: #4e4e4e; font-weight: bold; font-size: 14px;}
.dialog_cl{ clear:both;}
.dialog_inner { padding: 20px;}

/*弹窗样式部分*/

.msgBox{
visibility:hidden;z-index:10000;width:240px; left:56%;top: 50%;margin-left:-200px!important;margin-top:-150px!important;margin-top:0px;position:fixed;
_position:absolute;line-height:60px;font-size:12px;font-weight:600;background:#fff; border:#bfbfbf 5px solid;-moz-border-radius:5px;-webkit-border-radius:5px;
_top:       expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-
this.offsetHeight)/2 :
            document.body.scrollTop + (document.body.clientHeight - 
this.clientHeight)/2);}

.alertBox{z-index:101; background:#fff; border:#bfbfbf 5px solid; left:35%; top:30%;_top:       expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-
this.offsetHeight)/2 :
            document.body.scrollTop + (document.body.clientHeight - 
this.clientHeight)/2);-moz-border-radius:5px;-webkit-border-radius:5px;position:fixed;_position:absolute;}
.alert_follower_menu{z-index:192; background:#fff; border:#bfbfbf 5px solid; left:35%; top:35%;-moz-border-radius:5px;-webkit-border-radius:5px;position:fixed;_position:absolute;
_top:       expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-
this.offsetHeight)/2 :
            document.body.scrollTop + (document.body.clientHeight - 
this.clientHeight)/2); }

.alertBox_2{ top:47%;}
/*弹窗样式部分*/
ul.warnBox{ padding:30px;}
ul.warnBox li{ width:100%; height:100%; margin:0;}
ul.warnBox li .tt1{ background:#eef3f6; height:28px; width:100%; overflow:hidden; text-indent:10px; text-align:left; line-height:28px;}
ul.warnBox li .wWarp{ padding:10px;background:#fff url(../../static/image/right.png?20140922) no-repeat 5px 15px; }
ul.warnBox li .wWarp .wwsp{ margin:10px 0 5px 50px; color:#444; text-align:center; width:160px; word-break:break-all;white-space:normal; line-height:25px; height:35px; *padding-top:12px;}
ul.warnBox li .alert{background-image:url(../../static/image/alert.png?20140922)}

/*微博列表部分*/
.followList{ margin:0 auto;}
.followList .from{ _margin-top:-15px;}
.followList_m{ padding:20px 20px 0;}
.followList li{ width:100%; float:left; border-bottom:1px dotted #ccc;}
.followList li:hover{ background:#f9f9f9;}
.followList li .fBox_l { float:left; margin:8px 10px 0 0; width:50px;}
.followList li .fBox_l img{ height:46px;width:46px; border:1px solid #ddd; padding:1px; background:#fff;float:left;}
.followList li .fBox_R{ float:left; width:340px; line-height:18px; margin:2px 0 0 0;}
.followList li .fBox_R .ff_1{ width:140px; overflow:hidden; display:block; color:#666;}
.followList li .fBox_R .name{ font-size:12px;}
.followList li .fBox_R p span{ margin-right:20px;}
.followList li .fBox_R p em{ margin-right:20px;}
.followList li .fBox_R p cite{ color:#999;}
.followList li .fBox_R2{ text-align:right;float:right; width:130px;}
.followList li .fBox_R2 div{ line-height:20px;}
.followList li .fBox_R2 p.pclas{ margin:5px 0;}
.followList li .fBox_R3{ float:left; width:94%; line-height:15px; margin:-5px 0 0 0; *margin-top:8px; *padding-bottom:8px;}
.followList li .fBox_R3 p span{ margin-right:10px;}
.followList li .fBox_R3 .show{ margin: -18px 0 0; float: right}
.oriTxt2,.oriTxt2 p { font-size:12px;word-wrap: break-word; word-break: normal; word-break:break-all; }
.topicView{ float:left; width:490px;}
.utitle{ margin-bottom:3px; *margin-top:1px; background:#f9f9d0; padding:3px 0;}
.altbg3{ background: #F4f8fc;}
.altbg4{ background: #ffffff;}

.fiter{ float:right; margin:0px 450px 0 0px; width:290px;}
#starttime,#endtime{ padding:4px;}
.itemtable{width:520px;}
.itemtable,.itemtable th,.itemtable td{border-collapse:collapse;border:1px solid #ccc;padding:2px 5px 2px 15px;}
.icon-del,.icon-add{background:url(../../static/image/icon_bg.png?20140922) no-repeat;}
.icon-del{padding-left:18px; background-position:-6px -802px;}
.icon-add{padding-left:18px; background-position:-9px -1376px;}
.input_tips{ margin-left:5px;vertical-align:middle;}

/*微博举报审核等部分*/
.Ptitle{ display:block; padding:3px 10px; border-top:1px solid #CCC; background:#F3F3F3; text-align:right; margin:20px 0 0 0;}
.PcomBox{width:100%; margin:10px auto;}
.PcomBox .utitle{ padding:6px 10px; background:#f5f5f5; height:20px; margin:0 0 5px;}
.PcomBox .utitle span{ line-height:18px;}
.PcomBox .utitle2{ background:none; padding:2px 0;}
.PcomBox .followList li .fBox_R3{ line-height:15px; margin:0; padding:0 0 0 60px; float:none; width: auto;}
.p_end{ text-align:center; padding:10px 0; color:#F00;}



.admin_block{ padding:3px; background:#F60; color:#fff;}

#page{ text-align:center;}

#show_message_area { font-weight:600; font-size:16px;}



.quicksearchbar{width:130px;border:1px solid #ccc;background:#fff;padding:2px}
.quicksearchbar ul li{list-style:none;line-height:22px;padding-left:8px}
.quicksearchbar .active{cursor:pointer;overflow:auto;zoom:1;padding-right:15px;background-color:#EEEFF6;}



.tableborder td .acp_list_img{ vertical-align:middle; float:left; margin:6px 3px 0 0}
.altbg_company{}
.altbg_company td{ padding-left:5px;}
.altbg_company .altbg1 td{ padding-left:12px;}