/*频道*/
.channelTop {
	width: 810px;
	margin: 0 auto 5px;
	background: #fff;
	overflow: hidden;
	margin-top: -100px;
	border-bottom: 1px solid #eee;
	padding-top:20px;
}

.channelHome_warp {
	float: left;
	width: 650px;
	border-right: 1px solid #eee;
	padding-right: 20px;
	min-height: 400px;
	font-size: 14px;
}
.channelHome_warp .feedCell .wb_l_face {
	margin-left: 0;
	margin-top: 0;
}
.channelHome_warp .code {
	width: 520px;
}
.channelHome_warp .feedCell {
	padding: 0;
	box-shadow: none;
}
.toprecommend {
	display: block;
	margin: 0 0 10px;
	width: 580px;
}
.toprecommend h3 {
	border-bottom: 2px solid #eee;
	font-size: 16px;
	font-weight: normal;
	padding: 5px;
}
.toprecommend ul {
	display: block;
	clear: both;
	width: 600px;
	overflow: hidden;
}
.toprecommend ul li {
	width: 275px;
	height: 25px;
	float: left;
	overflow: hidden;
	margin-right: 25px;
}
.toprecommend ul li span {
	float: left;
	color: #F90;
	margin-right: 5px;
}
.toprecommend ul li a {
	color: #666;
}
.toprecommend ul li a:hover {
	color: #333;
}
.toprecommend ul li span a, .toprecommend ul li span a:hover {
	color: #F90;
}
.channelrecommend {
	display: block;
	overflow: hidden;
	margin: 10px 0;
	width: 580px;
}
.channelrecommend h3 {
	border-bottom: 1px solid #DDD;
	font-size: 14px;
	position: relative;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	font-weight: normal;
	background: #f2f2f2;
	padding: 5px;
}
.channelrecommend h3 .mright {
	position: absolute;
	top: 6px;
	right: 10px;
	font-size: 12px;
	font-weight: 500;
	color: #999;
}
.channelrecommend h3 .mright em {
	color: #ccc;
	margin: 0 5px;
}
.channelrecommendList {
	display: block;
	clear: both;
	overflow: hidden;
}
.channelrecommendList h3 a {
	color: #404040;
	margin-right: 15px;
	float: left;
}
.channelrecommend ul {
	display: block;
	clear: both;
	width: 600px;
	overflow: hidden;
	padding-top: 20px;
}
.channelrecommend ul li {
	width: 275px;
	height: 100px;
	float: left;
	overflow: hidden;
	margin-right: 20px;
}
.channelrecommend ul li .img {
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 12px;
	overflow: hidden;
}
.channelrecommend ul li .img img {
	width: 40px;
	height: 40px
}
.channelrecommend ul li .info {
	float: left;
	display: inline;
	width: 180px;
	overflow: hidden;
}
.channelrecommend ul li .info p {
	display: block;
	float: left;
	height: 22px;
	overflow: hidden;
}
.channelrecommend ul li .info p.title {
	width: 240px;
	font-weight: 600;
}
.channelrecommend ul li .info p.em {
	font-size: 12px;
	color: #999;
	width: auto;
	margin-right: 15px;
	margin-bottom: 5px;
}
.channelHome_side {
	width: 290px;
	float: right;
	padding: 0;
	_margin-left: 14px;
}
.channelHome_side .column {
	width: 290px;
	padding: 0;
	box-shadow: none;
	margin-bottom: 20px;
}
.channelHome_side .column h3 {
	padding: 0 0 3px;
	border-bottom: 1px solid #EEE;
	border-top: none;
}
.channelHome_side .sideuserList li, .channelHome_side .sideuserList li .manface, .channelHome_side .sideuserList li b {
	width: 48px;
}
.channelHome_side .sideuserList li .manface {
	height: 48px;
}
.channelHome_side .sideuserList {
	width: 330px;
}
.channelHome_side .sideuserList li {
	margin: 8px 13px 5px 0;
}
.channelul {
	overflow: hidden;
	display:block;
}
.channelul li {
	height: 37px;
	line-height: 30px;
	overflow: hidden;
	float: left;
	margin: 5px 0px;
	padding: 0;
}
.channelul li i {
	display: inline-block;
	float: left;
	margin-top: 7px;
	width: 18px;
	height: 28px;
	background-image: url(../../static/image/bg_img01.png?20140922);
	_background-image: url(../../static/image/bg_img01.gif?20140922);
	background-repeat: no-repeat;
	color: #fff;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	text-indent: -4px;
}
.channelul li i.hotlist1 {
	background-position: -167px -612px;
}
.channelul li i.hotlist2 {
	background-position: -192px -612px;
}
.channelul li i.hotlist3 {
	background-position: -217px -612px;
}
.channelul li i.hotlist4, .channelul li i.hotlist5, .channelul li i.hotlist6, .channelul li i.hotlist7, .channelul li i.hotlist8, .channelul li i.hotlist9, .channelul li i.hotlist10 {
	background-position: -242px -612px;
}
.channelul li .list_face {
	display: inline;
	margin: 0 10px 0 0;
	width: 35px;
	height: 35px;
	overflow: hidden;
	float: left;
}
.channelul li .list_face img {
	width: 35px;
	height: 35px;
}
.channelul li .list_con {
	display: inline;
	float: left;
	height: 35px;
	overflow: hidden;
	width: 110px;
}
.channelul li .list_con p {
	line-height: 18px;
}

.channelnav .navLeft a {
	float: left;
	color: #666;
	font-size: 16px;
	line-height: 42px;
}
.channelnav .navLeft a.navLefthome {
	padding: 0 0 0 20px;
	background-position: -360px 0;
	width: 105px;
	background: url(../../static/image/channelnavbg.gif?20140922) no-repeat right;
	position: relative;
	z-index: 2;
}
.channelnav .navLeft a.navLeftsub {
	text-align: center;
	color: #666;
	overflow: hidden;
	padding: 0 40px;
	background: url(../../static/image/channelnavbg.gif?20140922) no-repeat right;
	margin-left: -25px;
	position: relative;
	z-index: 1;
}
.channelnav .navLeft a.navLeftsub2 {
	text-align: center;
	color: #666;
	background: url(../../static/image/channelnavbg.gif?20140922) no-repeat right;
	overflow: hidden;
	padding: 0 40px 0 20px
}
.channelnav .navLeft a.subon {
	background: url(../../static/image/channelnavbg2.gif?20140922) no-repeat right;
	color: #fff;
	margin-left: -25px;
	padding-left: 40px;
}

.channelnav .navinfo {
	float: right;
}
.channelnav .navinfo span {
	margin: 0 10px 0 0;
	background: #fff;
	padding: 5px;
}
.channelsubnav {
	width: 830px;
	margin: 10px 0 15px;
	clear: both;
	overflow: hidden;
	position: relative
}
.boxNav2 {
	float: left;
	width: 800px;
	height: 30px;
	line-height: 23px;
	overflow: hidden;
}
.boxNav2 li {
	float: left;
	margin-right: 15px;
	margin-top: 5px;
	color: #ddd;
}
.boxNav2 .boxNavselect {
	background: url(../../static/image/boxNavselect.gif?20140922) no-repeat;
	
	color: #fff;
	width: 67px;
	height: 23px;
	text-align: center;
	border-radius: 3px;
}
.boxNav2 .boxNavselect a {
	color: #fff;
}
.channelnav .list_title {
	width: 110px;
	margin: 0;
	padding: 0;
	background: none;
	position: absolute;
	right: 5px;
	top: 5px;
}
.favchannel li {
	float: left;
	display: inline-block;
	background: #f2f2f2;
	padding: 2px 5px;
	margin: 0px 6px 6px 0;
}
.channel_info{
	
	}
.channel_info h3{
	font-weight: 600;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
.channel_info .ciline{ margin:0 5px;}
.channel_info #follow_channel{ margin:10px 0 0 0;}