/* CSS Document begin */
/*公司与部门样式表*/
.appframeWrap .left {
	width: 280px;
	float: left;
	padding-right: 10px;
	border-right: 1px solid #ddd;
	max-height: 700px;
	overflow-x: hidden;
	overflow-y: auto;
}
.appframeWrap .right {
	float: left;
	margin-left: 10px;
	width: 580px;
}
.appframeWrap .right .top h3, .appframeWrap .right .down h3, .appframeWrap .left h3 {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}
.appframeWrap .right .top {
	margin-bottom: 10px;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}
.appframeWrap .right .down {
	margin-bottom: 10px;
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
}
.appframeWrap .left ul, .appframeWrap .right .top ul {
	font-weight: bold;
}
.appframeWrap .left ul.iin, .appframeWrap .right .top ul.iin {
	margin-left: 40px;
	font-weight: normal;
}
.appframeWrap .left img, .appframeWrap .right .top img {
	margin-right: 5px;
}
#cp_user .showatuser li {
	margin: 5px;
	float: left;
	width: 106px;
	overflow: hidden;
}
.appframeWrap .left ul li.in, .appframeWrap .right .top ul li.in {
	list-style-type: circle;
}
.appframeWrap .left ul li.in a:hover, .appframeWrap .right .top ul li.in a:hover {
	text-decoration: none;
}
.m-box .left {
	width: auto;
	float: left;
	padding-right: 15px;
	border-right: 1px solid #ddd;
	height: 700px;
	overflow-x: hidden;
	overflow-y: auto;
}
.m-box .right {
	float: left;
	margin-left: 15px;
	width: 658px;
	display: inline;
	margin-right: 0;
}
.m-box .right .top h3, .m-box .right .down h3, .m-box .left h3 {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}
.m-box .right .top {
	margin-bottom: 10px;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}
.m-box .right .down {
	margin-bottom: 10px;
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
}
.m-box .left ul, .m-box .right .top ul {
	font-weight: bold;
}
.m-box .left ul.iin, .m-box .right .top ul.iin {
	margin-left: 40px;
	font-weight: normal;
}
.m-box .left img, .m-box .right .top img {
	margin-right: 5px;
	vertical-align: middle;
}
#cp_user .showatuser li {
	margin: 5px;
	float: left;
	width: 106px;
	overflow: hidden;
}
.m-box .left ul li.in, .m-box .right .top ul li.in {
	list-style-type: circle;
}
.m-box .left ul li.in a:hover, .m-box .right .top ul li.in a:hover {
	text-decoration: none;
}
.c-p {
    margin: 5px 0 30px;
}