/*活动*/
.eventInfo {
}
.u-send:before, .u-send:after {
	display: none;
}
.hot {
	line-height: 21px;
	margin: 0 auto;
}
.count {
	float: none;
	width: 157px;
}
.hot_name {
	float: none;
	width: 157px;
}
.fred {
	color: #ff0000;
}
.cp_select_con {
	margin: 10px 0;
	overflow: hidden;
	clear: both;
}
.cp_select_con .cp_h {
	padding: 5px 0;
	margin: 5px 0;
	background: #f6f6f6;
	display: block;
	overflow: hidden;
	_width: 100%;
}
.cp_select_con .cp_h_l {
	background: #FF8C4A;
	padding: 0 8px;
	float: left;
	margin: 2px 5px;
	color: #fff;
	border-radius: 3px;
}
.cp_select_con .cp_h_r {
	float: left;
	display: inline;
	width: 430px;
	margin: 0 0 0 10px;
}
.cp_select_con .cp_h_r a {
	white-space: nowrap;
	color: #888;
	text-decoration: none;
}
.cp_h_p {
	width: 400px;
	float: left;
	display: block;
	clear: both;
}
.cp_h_p select {
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}
.cp_select_con a {
	float: left;
	margin-right: 8px;
	display: inline;
	padding: 2px
}
.fred {
	color: #Ff0000;
}
.cp_header {
	width: 540px;
	float: left;
	border-bottom: 4px solid #f1f1f1;
	height: 32px;
+height:auto;
}
.cp_header ul {
	float: left;
	margin-left: 10px;
}
.cp_header ul li {
	float: left;
	padding: 3px 10px;
	list-style: none;
}
.cp_header .curr {
	background: #f1f1f1;
	border: 1px solid #ddd;
	border-bottom: none;
}
.cp_select_1 {
	width: 750px;
	float: left;
	background: #f1f1f1;
	border: #d5d5d5 1px solid;
	margin: 10px 0;
}
.cp_select_header {
	width: 500px;
	float: left;
	margin: 8px 0 0px 15px;
	font-weight: 600;
}
.cp_main {
	width: 750px;
	float: left;
	border: 1px solid #d5d5d5;
}
.cp_m_header {
	display: block;
	background: #f1f1f1;
	line-height: 25px;
	font-weight: 600;
	width: 100%;
	text-indent: 10px;
}
.cp_m_c {
	display: block;
	width: 750px;
	margin: 10px auto;
}
.cp_m_c ul {
	width: 735px;
	margin: 5px 5px;
}
.cp_m_c ul li {
	width: 100px;
	margin: 0px 5px;
	float: left;
}
.cp_box_1 {
	width: 750px;
	margin: 0 auto;
}
.cp_select_con_1 {
	width: 718px;
	margin: 5px;
	padding: 5px 10px;
	overflow: hidden;
	background: #fff;
	float: left;
	display: inline;
}
.cp_select_con_1 a {
	float: left;
	margin-right: 8px;
	display: inline;
	padding: 3px 5px;
}
.cp_select_con_1 .cp_h {
	padding: 5px 0;
	display: block;
	overflow: hidden;
	_width: 100%;
}
.cp_select_con_1 .cp_h_1 {
	border: 1px #d5d5d5 solid;
	background: #f1f1f1;
	padding: 3px 5px;
	float: left;
	margin-right: 8px;
	width: 40px;
	text-align: center;
}
.cp_select_con_1 .cp_h_r {
	float: left;
	display: inline;
	width: 430px;
	margin: 0 0 0 10px;
}
.cp_select_con_1 .cp_h_r a {
	white-space: nowrap;
}
.e_count {
	clear: both;
}
.e_list_title {
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
}
.e_list_box {
	margin: 0 auto 5px;
	padding: 20px 0;
	overflow: hidden;
	border-bottom: 1px dotted #eee;
	display: block;
	position: relative;
}
.e_list_box .avatar_left {
	margin-right: 20px;
	width: 120px;
	height: 128px;
	float: left;
}
.e_list_box .avatar2_info {
	float: left;
	width: 440px;
	overflow: hidden;
	display: inline;
}
.e_list_box .avatar2_info_2 {
	width: 320px;
}
.e_list_box .avatar2_info p {
	width: 420px;
	word-wrap: break-word;
	word-break: normal;
	display: block;
	overflow: hidden;
	color: #666;
}
.e_list_box .event_eidt_box a {
	background-image: url(../../static/image/bg_img01.gif?20140922);
	background-repeat: no-repeat;
	margin-right: 10px;
	padding-left: 20px;
}
.e_list_box .event_eidt_box a.efx {
	background-position: -346px -46px;
}
.e_list_box .event_eidt_box a.esc {
	background-position: -348px -88px;
}
.e_list_box .event_eidt_box a.egl {
	background-position: -484px -111px;
}
.e_list_box .event_eidt_box a.edc {
	background-position: -480px -179px;
}
.e_list_box .event_eidt_box a.exg {
	background-position: -346px -113px;
}
.e_list_box .event_eidt_box a.edel {
	background-position: -345px -164px;
}
.event_eidt_box {
	float: left;
	background: #f2f2f2;
	padding: 5px;
	width: 590px;
	margin: 10px 0 0 0;
}
.e_detail_sign {
	width: 100px;
	height: 30px;
	float: left;
}
.e_detail_sign #event_type {
	color: #D36531;
	margin-bottom: 15px;
}
.e_detail_sign #appzf a,.e_detail_sign #app a,.e_detail_sign #apptx a {
	width: 69px;
	height: 27px;
	background: url(../../static/image/bg_img01.png?20140922) -431px -473px no-repeat;
	color: #fff;
	text-decoration: none;
	padding: 5px 11px 8px 11px;
	margin-right: 12px;
}
.e_detail_sign .ri_t2 {
	display: block;
}
.e_idS {
	padding: 15px 0;
	overflow: hidden;
}
.e_idSpTitle {
	border-bottom: 3px solid #E4E4E4;
	height: 0;
	display: block;
	clear: both;
	padding-bottom: 27px;
	margin-bottom: 20px;
}
.e_idSpTitle b {
	float: left;
	color: #e07e50;
	font-size: 14px;
	padding-bottom: 1px;
	border-bottom: 3px solid #e07e50;
}
.e_intro {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 20px;
	margin-bottom: 15px;
}
ul.eli {
	padding: 0;
	width: 180px;
	overflow: hidden;
}
ul.eli li {
	border-bottom: none;
	width: auto;
	background: none;
	padding: 0;
}
.e_list_box .event_d p {
	width: 280px
}
.event_b1 {
	margin: 20px;
}
.event_b1_2 {
	width: 400px;
	margin: 10px 0 10px 0;
	float: left;
}
.event_b1 table td {
	text-align: center;
}
.event_b1 table thead tr {
	background: #f2f2f2;
}
.event_b1 table thead tr td {
	padding: 5px;
	text-align: center;
}
.event_b1 p b {
	color: #336699;
	font-weight: 500;
}
.w_num {
	width: 120px;
	height: 20px;
	overflow: hidden;
}
.e_list_box .left_t_nick_name strong {
	font-size: 14px;
}
a.event_button {
	padding: 0 20px 0 30px;
	background-color: #fff;
	background-image: url(../../static/image/bg_img01.gif?20140922);
	background-position: -337px -346px;
	height: 25px;
	line-height: 25px;
	cursor: pointer;
	margin: 0;
	border-radius: 3px;
	border: 1px solid #F4CF88;
	font-size: 12px;
	float: left;
}
a.event_button:hover {
	background-color: #fff3dc;
	text-decoration: none;
}
a.event_button:link, a.event_button:visited {
	color: #C86F45;
}
.themepwarp .event_pbox {
	width: 800px;
	margin: 30px auto;
}
.themepwarp .event_pbox #step1 td {
	height: 30px;
	font-size: 12px;
	padding-right: 10px;
    padding:5px 0;
}
.themepwarp .event_pbox #step1 td span {
	color: #ff0000;
	margin-right: 4px;
}
.themepwarp .event_pbox #step2 {
	width: 100%;
}
.vcontent .event_pbox #step2 {
	width: auto;
}
.themepwarp .event_pbox #step2 td {
	height: 30px;
	font-size: 12px;
}
.themepwarp .event_pbox #step2 td span {
	color: #ff0000;
	margin-right: 4px;
}
.themepwarp .event_pbox #step3 td {
	height: 30px;
	line-height:30px;
	font-size: 12px;
	padding-right: 10px;
}
.themepwarp .event_pbox #step1 td .inputs {
	height: 22px;
	width: 365px;
	border: 1px solid #eee;
	margin: 0 10px 0 0;
	padding: 3px;
	color: #666;
}
.themepwarp .event_pbox #step1 td .inputs2 {
	vertical-align: -2px;
	padding: 2px 6px;
	float: left;
	margin: 0;
	color: #666;
}
.themepwarp .event_pbox #step1 td select {
	padding: 0;
	margin: 0 5px 0 0;
	color: #666;
	vertical-align: middle;
	border: 1px solid #ddd;
	height: 22px;
}
.themepwarp .event_pbox td .vote_endtime {
	font-size: 12px;
	font-style: normal;
}
.themepwarp .event_pbox td #address {
	height: 17px;
	width: 210px;
	margin: 0 10px 0 0;
	padding: 3px;
	color: #666;
}
.themepwarp .event_pbox #step3 td label {
	padding-right: 5px;
}
.themepwarp .event_pbox td input.u-btn {
	width: auto;
	height: 26px;
	padding: 0 15px;
	color: #fff;
	border: none;
	cursor: pointer;
	text-align: center;
	float: left;
}
.themepwarp .event_pbox .mWarp {
	padding: 10px;
	width: 378px;
}
.menu_hdb .event_pbox {
	width: 350px;
	margin: 10px auto;
}
.menu_hdb .event_pbox #step1 td {
	height: 30px;
	font-size: 12px;
	padding-right: 0px;
}
.menu_hdb .event_pbox #step1 td span {
	color: #ff0000;
	margin-right: 4px;
}
.menu_hdb .event_pbox #step2 td {
	height: 30px;
	font-size: 12px;
	padding-right: 0px;
}
.menu_hdb .event_pbox #step2 td span {
	color: #ff0000;
	margin-right: 4px;
}
.menu_hdb .event_pbox #step3 td {
	height: 30px;
	font-size: 12px;
	padding-right: 0px;
}
.menu_hdb .event_pbox #step1 td .inputs {
	height: 17px;
	width: auto;
	border: 1px solid #ddd;
	margin: 0 10px 0 0;
	padding: 3px;
	color: #666;
}
.menu_hdb .event_pbox #step1 td .inputs2 {
	vertical-align: -2px;
	padding: 2px;
}
.menu_hdb .event_pbox #step1 td select {
	height: 26px;
	line-height: 22px;
	margin: 0 5px 0 0;
	color: #666;
	vertical-align: middle;
	padding: 2px;
}
.menu_hdb .event_pbox td .vote_endtime {
	font-size: 12px;
	font-style: normal;
}
.menu_hdb .event_pbox td #address {
	height: 17px;
	width: 210px;
	border: 1px solid #ddd;
	margin: 0 10px 0 0;
	padding: 3px;
	color: #666;
}
.menu_hdb .event_pbox #step3 td label {
	padding-right: 5px;
}
.menu_hdb .event_pbox td input.u-btn {
	width: auto;
	height: 26px;
	padding: 0 15px;
	color: #fff;
	border: none;
	cursor: pointer;
	text-align: center;
}
