/*###############################
   @Name:记事狗微博客访客样式表 
   @Link:www.jishigou.net
   @version $Id$
   @Author:@itom
#################################*/
/* CSS Document begin */

body {
	text-align: left;
	font-size: 12px;
	margin: 0;
	padding: 0
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p {
	margin: 0;
	padding: 0
}
table, td, tr, th {
	font-size: 12px
}
li {
	list-style-type: none
}
table {
	margin: 0 auto
}
img {
	vertical-align: top;
	border: none
}
ol, ul {
	list-style: none
}
h1, h2, h3, h4, h5, h6 {
	font-size: 12px;
	font-weight: 400
}
input, textarea, select, option {
	font-size: 14px
}
a:link {
	color: #336699;
	text-decoration: none;
}
a:visited {
	color: #336699;
	text-decoration: none;
}
a:hover {
	color: #336699;
	text-decoration: none;
}
body {
	color: #333;
	height: 100%;
}
.headWrap {
	height: 88px;
	position: relative;
	width: 950px;
	z-index: 2;
	margin: 5px auto;
	overflow: hidden;
}
.logo {
	overflow: hidden;
	position: absolute;
	overflow: hidden;
}
.logo a {
	display: block;
	text-decoration: none;
}
.mainWrapper {
	width: 950px;
	background: #fff;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 1px 0 5px #ddd;
	border-radius: 5px;
}
.topbox {
	width: 950px;
	height: 255px;
}
.tleft {
	width: 680px;
	height: 255px;
	float: left;
}
.talking {
	float: left;
	width: 680px;
	height: 35px;
	background: #48a901 url(../../static/image/index/talkingbg.jpg?20140922) no-repeat left
}
.talking strong {
	float: left;
	height: 35px;
	line-height: 35px;
	color: #fff;
	font-weight: 400;
	padding: 0 10px 0 45px
}
.acticle {
	float: left;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	width: 550px
}
.loginbox {
	background: url(../../static/image/index/mr.png?20140922) no-repeat;
	float: right;
	height: 295px;
	padding-top: 25px;
	position: absolute;
	width: 255px;
	padding-left: 15px;
	margin: 0 0 0 680px;
*margin:0 0 0 0;
	border-radius: 0 5px 0 0;
}
.tlb_P {
	width: 226px;
	overflow: hidden;
	margin: 0 0 5px 0;
	position: relative
}
.btn_reg {
	display: block;
	width: 197px;
	height: 55px;
	margin-left: 24px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../../static/image/index/index_100806.png?20140922) no-repeat left top;
	cursor: pointer
}
.btn_reg:hover {
	background-position: 0 -55px;
}
.btn_reg:focus, .btn_reg:active {
	background-position: 0 -110px
}
.login_area {
	margin-top: 15px;
	margin-left: 24px;
}
.login_area .item {
	padding: 4px 0;
	width: 195px;
	height: 30px;
	float: left;
	display: inline;
	position: relative;
}
.login_area .pos_rel {
	padding: 0
}
.login_area .labelTag {
	display: block;
	float: left;
	font-size: 14px;
	line-height: 25px;
	text-align: right;
	white-space: nowrap;
	width: 56px;
}
.login_area .enterInput {
	float: left;
}
.login_area .enterInput img {
	margin: 6px 0 0 6px;
}
.login_area .inputcheckTag {
	margin-right: 1px;
	vertical-align: middle;
	background: none;
	padding: 0;
}
.login_area .inputtextTag {
	font-size: 12px;
	width: 183px;
	height: 20px;
	line-height: 17px;
	padding: 5px;
	color: #666;
	border: 1px solid #999;
	border-radius: 3px;
	z-index: 10;
}
#username_tip {
	display: none;
	position: absolute;
	right: 0;
	width: 25px;
	height: 25px;
	margin: 4px 0 0 0;
}
#username_tip img {
	width: auto;
	height: 25px;
}
.btn_login {
	background: url(../../static/image/index/index_100806.png?20140922) 0 -167px;
	border: none;
	cursor: pointer;
	font-size: 14px;
	height: 32px;
	overflow: hidden;
	text-align: center;
	width: 96px;
	padding: 0;
	display: inline;
	margin-right: 10px;
	
}
.btn_login:hover {
	background-position: 0 -199px
}
.hz_sim_login {
	background: url(../../static/image/index/hz_sim_login.png?20140922);
	border: none;
	cursor: pointer;
	height: 62px;
	width: 196px;
	
	margin-top: 40px;
}
.btn_login:focus, .btn_login:active {
	background-position: 0 -231px
}
#midBox {
	width: 950px;
	margin: 10px 0 15px;
	clear: both;
	overflow: hidden;
}
.midleft {
	float: left;
	display: inline;
	overflow: hidden;
	width: 210px;
	padding: 0 0 0 18px;
}
.midcenter {
	float: left;
	display: inline;
	width: 432px;
	height: 580px;
	border-left: #ebebeb 1px solid;
	border-right: #ebebeb 1px solid;
	padding: 0 0 0 18px;
	overflow: hidden
}
.midright {
	float: left;
	display: inline;
	width: 230px;
	height: 515px;
	overflow: hidden;
	padding: 65px 0 0 18px;
	overflow: hidden;
	background: url(../../static/image/index/wapban.gif?20140922) bottom right no-repeat;
	overflow: hidden;
}
.midright .column {
	padding: 0;
}
.userlist {
	float: left;
	margin-bottom: 15px;
}
.userlist li {
	float: left;
	height: 73px;
	margin-right: 10px;
	overflow: hidden;
	text-align: center;
	width: 60px;
	padding: 11px 0 0
}
.userlist li a {
	color: #6EAFD5;
	display: block;
	white-space: nowrap;
	line-height: 20px;
	font-weight: 500;
	float: left;
}
.userlist li img {
	display: block;
	height: 46px;
	width: 46px;
	border: 1px solid #ddd;
	padding: 1px;
	margin: 0 auto 4px;
	background: #fff;
}
.userlist li .nude_face img {
	height: 50px;
	width: auto;
	border: none;
	padding: 0;
}
.htitle {
	background: url(../../static/image/index/bubble.png?20140922) no-repeat left 4px;
	border-bottom: 1px solid #EBEBEB;
	font-weight: 600;
	line-height: 22px;
	margin-right: 18px;
	padding: 0 0 8px 25px;
}
.htitle2 {
	background: url(../../static/image/index/users.gif?20140922) no-repeat left 4px;
	border-bottom: 1px solid #EBEBEB;
	font-weight: 600;
	line-height: 22px;
	margin-right: 20px;
	padding: 0 0 8px 25px;
}
.htitle3 {
	background: url(../../static/image/index/micro.gif?20140922) no-repeat left 2px;
	border-bottom: 1px solid #EBEBEB;
	font-weight: 600;
	line-height: 22px;
	padding: 0 0 8px 25px;
}
.comBox {
	margin: 10px 0
}
.Contant {
	margin-left: 60px;
*margin-top:0;
	line-height: 20px;
	width: 330px;
	padding: 0;
	margin-left: 15px;
}
#indemo {
	float: left;
	width: 800%
}
#Tacticle_s, #demo2 {
	float: left
}
.Ts, a.Ts:link, a.Ts:visited {
	color: #fff;
	margin-right: 10px;
}
.forgetPass {
	margin-left: 10px;
	display: inline;
}
.dlblank {
	clear: both;
}
.dlblank p {
	line-height: 20px;
	padding: 2px 0 2px 2px;
}
.htitle4 {
	background: url(../../static/image/index/newuser.gif?20140922) no-repeat left 2px;
	border-bottom: 1px solid #EBEBEB;
	font-weight: 700;
	line-height: 22px;
	margin-right: 20px;
	padding: 0 0 8px 25px;
	clear: both
}
.mlink {
	width: 920px;
	line-height: 25px;
	overflow: hidden;
	margin: 0;
	background: #29a9cc;
	padding: 10px 15px;
	color: #fff;
}
.mlink a, .mlink a:link, .mlink a:visited, .mlink a:hover {
	color: #fff;
}
.relayTxt .mid {
	width: 328px;
	margin: 0;
	padding: 0 10px 7px;
	float: left;
	display: block;
	background: #f0f0f0;
	_overflow: hidden
}
.topicTxt {
	width: 336px;
	
	padding: 0;
}
ul.imgList {
	width: 336px;
}
.feedCell .from {
	width: 350px;
}
.feedCell .from .mycome {
	width: 160px;
}
.feedCell .from .handle {
	width: 100px;
}
.topicTxt p {
	line-height: 20px;
	font-size: 12px;
}
.indexrow {
	width: 415px;
	line-height: 20px;
	margin: 0;
	float: left;
}
.indexrow .feedCell {
	padding: 9px 0;
	
	border-bottom: 1px solid #EEE;
	width: 415px;
	margin: 0;
}
.indexrow .Contant {
	width: 350px;
	margin-left: 15px;
	padding-top: 0;
}
.indexrow .Contant .topicTxt {
	width: 350px;
}
.feedCell .wb_l_face {
	float: left;
	width: 50px;
	display: inline;
}
.feedCell .avatar {
	border: none;
	padding: 0;
	margin: 4px 0;
}
.feedCell .avatar img {
	height: 50px;
	width: 50px;
}
.feedCell .from {
	padding-top: 5px;
}
.visBox {
	width: 230px;
	margin: 0 auto 5px;
}
.visBox p {
	line-height: 20px;
	padding: 2px;
	margin: 15px auto;
}
.visBox p b {
	color: #336699;
	font-size: 14px;
}
.lf {
	width: 680px;
}
.relayTxt {
	width: 336px;
	margin-top: 10px;
}
.indexrow .vipImg {
	margin-top: 4px;
*margin-top:2px;
}
.clearfix {
	float: left;
	height: 35px;
}
.clearfix2 {
	margin: 10px 0 0;
	width: 250px;
	float: left;
	display: inline;
}
.mcenter {
	position: relative
}
.feedCell .feedUservideo {
	position: relative;
*position:static;
	width: 345px;
}
.feedCell .feedUservideo img {
}
.feedCell .feedUservideo .vP {
	position: absolute;
}
.guest_table .tabmenu h3 {
	font-weight: 600;
	width: 98px;
	float: left;
	color: #666;
	padding-top: 2px;
	display: inline;
}
.guest_table {
	width: 230px;
	overflow: hidden;
	margin: 15px auto 0;
}
.guest_table .tabmenu {
	border-bottom: 1px solid #ebebeb;
	width: 230px;
}
.guest_table .tabmenu .cli {
	border-color: #ebebeb;
}
.guest_table #tabcontent {
	width: 230px;
}
.guest_table #tabcontent ul {
	padding: 9px 0 0;
	height: 60px;
	overflow: hidden;
	line-height: 20px;
}
.msg_content {
	padding: 30px;
	float: left;
	background: url(../../static/image/alert.png?20140922) no-repeat 30px;
	padding-left: 95px;
}
.msg_alert {
	background-image: url(../../static/image/alert.png?20140922);
}
.msg_right {
	background-image: url(../../static/image/right.png?20140922);
}
