/*###########################
   @Name:记事狗微博客直播附样式表 
   @Link:www.jishigou.net
   @version $Id$
   @Author:@itom
#############################*/
/* CSS Document begin */

* html .clearfix {
	height: 1%;
}
.clearfix {
	display: inline-block;
}
.clearFix {
	display: block;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.liveShowList li {
	padding-bottom: 12px;
	margin: 20px 0px;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px dotted #ddd;
}
.liveShowList li.end {
	background: none;
}
.liveShowList li .feed_ls {
	float: left;
	width: 325px;
	padding-top: 3px;
}
.liveShowList li .pic_ls {
	float: right;
	text-align: right;
	width: 240px;
	overflow: hidden;
}
.liveShowList li .f_content {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 5px;
	overflow: hidden;
}
.liveShowList li .f_content {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 5px;
	overflow: hidden;
}
.liveShowList li .f_content .ico_shlive {
	vertical-align: middle;
	margin-top: -2px;
}
.liveShowList li .f_content .ico_status {
	margin: 0 0 0 5px;
	vertical-align: middle;
}
.liveShowList li .f_time {
	color: #999;
	padding-bottom: 7px;
}
.liveShowList li .f_name {
	color: #666;
	height: 20px;
	overflow: hidden;
}
.liveShowList li .f_name a {
	color: #666;
}
.liveShowList li .f_name span {
	padding-right: 10px;
}
.ico_shlive {
	background: url(../../static/image/item/live_shico.gif?20140922) no-repeat scroll 0 0;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	vertical-align: middle;
}
.liveShowList li .guest_lst {
	width: 54px;
	height: 82px;
	overflow: hidden;
	text-align: center;
	padding-left: 15px;
	float: right;
}
.liveShowList li .guest_lst .photo {
	display: block;
	height: 48px;
	width: 48px;
	margin-bottom: 5px;
}
.ico_times {
	background-position: 0 -40px;
}
.ico_liveshow {
	background-position: 0 0;
	margin-top: -2px;
}
.ico_talk {
	background-position: 0 -80px;
}
a.ico_recommed {
	background: url(../../static/image/item/live_shico.gif?20140922) no-repeat scroll 0 -136px;
	color: #d30000;
	padding-left: 22px;
	display: inline-block;
}
.address_r {
	text-align: right;
	display: block;
}
.address_r strong {
	font-weight: bold;
}
.ico_clock_normal, .ico_clock_gray, .ico_clock_on {
	background: url(../../static/image/item/ico_clock.gif?20140922) no-repeat scroll 0 0;
	width: 44px;
	height: 42px;
	display: inline-block;
	margin-bottom: 6px;
}
.ico_clock_gray {
	background-position: 0 -50px;
}
.ico_clock_on {
	background: url(../../static/image/item/ico_clock_on.gif?20140922) no-repeat scroll 0 0;
}
.ico_status {
	display: inline-block;
	background: url(../../static/image/item/liveni01.gif?20140922) no-repeat scroll 0 -150px;
	width: 50px;
	height: 18px;
	margin-top: 16px;
*margin-top:11px;
	overflow: hidden;
	text-indent: -9999px;
}
.ico_complete {
	background-position: 0 -210px;
}
.ico_ongoing {
	background-position: 0 -180px;
}
.ico_notyet {
	background-position: 0 -150px;
}
.live_line {
	color: #666;
	font-size: 14px;
	font-weight: 600;
	padding: 15px 0;
}
.live_line span a {
	float: right;
	font-size: 12px;
	font-weight: normal;
}
.live_top {
	margin-top: 20px;
}
.time_liveShowWrap {
	padding-top: 10px;
	_width: 250px;
}
.time_liveShowWrap .status_lf {
	float: left;
	width: 50px;
	text-align: center;
}
.time_liveShowWrap .time_rt {
	float: right;
	width: 120px;
}
.time_liveShowWrap .time_rt .date_ls {
	font-size: 14px;
	color: #d30000;
}
.time_liveShowWrap .time_rt .time_ls {
	font-size: 20px;
	color: #d30000;
	padding-bottom: 8px;
}
.btn_tm_show {
	background: url(../../static/image/item/live_btndz.gif?20140922) no-repeat scroll 0 0;
	width: 116px;
	height: 33px;
	overflow: hidden;
	text-indent: -9999px;
	display: block;
}
.btn_wydz {
	background-position: 0 0;
}
.btn_wycy {
	background-position: 0 -40px;
}
.btn_dzwc {
	background-position: 0 -80px;
	cursor: default;
}
.btn_wyfx {
	background-position: 0 -120px;
}
.ico_clock_normal, .ico_clock_gray {
	background: url(../../static/image/item/ico_clock.gif?20140922) no-repeat scroll 0 0;
	width: 44px;
	height: 42px;
	display: inline-block;
	margin-bottom: 6px;
}
.ico_clock_gray {
	background-position: 0 -50px;
}
.ico_clock_on {
	background: url(../../static/image/item/ico_clock_on.gif?20140922) no-repeat scroll 0 0;
}
.livehost, .liveguest, .livemedia {
	background: url(../../static/image/item/ic01.gif?20140922) no-repeat scroll 0 0;
	border: none;
	display: inline-block;
}
.livehost {
	width: 50px;
	height: 20px;
	background-position: 0 -80px;
}
.liveguest {
	width: 80px;
	height: 20px;
	background-position: 0 -104px;
	margin-left: -5px;
}
.livemedia {
	width: 50px;
	height: 20px;
	background-position: 0 -128px;
}
.mainWrap .contentWrap {
	padding: 10px 0;
}
.talkwrap .Menubox {
	margin: 0 0 5px 0;
}
.Listmain {
	width: 600px;
}
.Contant, .topicTxt, .topicTxt .from {
	width: 530px;
	/* padding:0;*/
	display: inline;
	float: left;
	padding: 7px 0;
	margin: 0;
}
.column .followList {
	_width: 250px;
}
.relayTxt {
	margin-left: -25px;
}
.feedCell {
	margin-top: 10px;
	width: 600px;
	border-radius: 0;
	margin: 0;
	padding: 0;
}
.feedCell .wb_l_face {
	margin: 15px 20px 0 0;
}
.pageStyle {
	width: 610px;
	float: left;
}
.talkwrap .sideBar {
	width: 265px;
	overflow: hidden;
	padding-right: 0;
	border-left: 1px solid #eee;
    padding-left: 10px;
}
.talkside .act_ul li .fBox_r {
	width: 165px;
	padding: 0;
}
.talkwrap{
	width: 940px;
	background: #fff;
	padding: 20px;
}
.talkwrap .talkviewtop{ width:940px;margin-top:0;overflow: hidden;}
.talkwrap .mainWrap{ margin-left:0;width: 655px;border:none;}