/*微群部分*/
.t_a_q {
	width: 580px; 
	float: left;
}
.group {
	color: rgb(67, 131, 161);
	font-size: 30px;
}
.person {
	color: rgb(242, 149, 4);
	font-size: 30px;
}
.topic {
	color: rgb(108, 167, 42);
	font-size: 30px;
}
.normal_f {
	font-size: 15px;
	font-style: oblique;
	margin-right: 20px;
}
.n_s {
	margin: 10px 20px 20px 110px;
}
.recd_block {
	padding-bottom: 20px;
}
.recd_block .user_face img {
	height: 48px;
	width: 48px;
	border: 1px solid #ccc;
}
#add_ajax_favorite_tags, .add_ajax_favorite_buttom {
	display: block;
	width: 100%;
}
#add_ajax_favorite_tags span {
	display: block;
	margin: 0 4px 2px 0;
	float: left;
	white-space: nowrap;
	padding: 3px 5px;
	background: #f2f2f2;
	border-radius: 2px;
}
#add_ajax_favorite_tags span:hover {
	background: #e6e6e6;
}
.tagsAdd {
	display: block;
	float: left;
	margin: 8px 0 0;
	width: 250px;
}
.tagsAdd .thread_add {
	width: 100px;
	background-position: -255px -449px;
	padding-left: 14px;
	float: left;
}
.cat_block {
	height: 20px;
	margin: 5px 0;
	line-height: 18px;
}

.cat_block .cat_block_h {
	font-weight: 600;
	margin: 0 0 5px;
	font-size:14px;
}
.cat_block .cat_block_h span {
	color: #666;
	font-weight: 500;
}
.mr20 {
	margin-right: 20px;
}
.cat_content a {
	margin-right: 10px;
}
.qun_block {
	float: left;
	width: 255px;
	height: 55px;
	margin: 20px 15px 20px 20px;
	overflow: hidden;
	display:inline;
}
.qun_block2 {
	width: 580px;
	height: auto;
	margin:0;
}
.qun_block .title {
	font-weight: 600;
	font-size: 14px;
	border-bottom: dotted 1px #eee;
	margin-bottom: 20px;
	padding-bottom: 5px;
}
.qun_block .title span{
    font-size:12px;	
}

.rbr {
	float: left;
	display: inline;
	margin: 0 0 0 15px;
	overflow: hidden;
}
.rbl {
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid #eee;
	padding: 1px;
}
.rbl img {
	height: 50px;
	width: 50px; 
}


#sub_cat_wp {
	border-bottom: dotted 1px #eee;
	padding-bottom: 5px;
}
#sub_cat_wp a {
	margin-right: 10px;
}
a.qun_on {
	color: #000;
	font-weight: 700;
}
#sort_wp a {
	margin-right: 10px;
}
.qun_s1 {
	float: right;
	color: #999;
}
.qun_s2 {
	float: left;
	font-size: 14px;
	font-weight: 600;
}
.qun_s3 {
	float: left;
	color: #999;
	margin-left: 5px;
}
.qun_notic_2 {
	background: #f8f8f8;
	border: 1px #ebebeb solid;
	text-align: center;
	margin: 10px;
	font-size: 14px;
	font-weight: 600;
	padding: 8px 0;
}
.qun_pub {
	margin: 5px 0 10px;
}
.qun_nfBox {
	float: left;
	margin: 0 10px 25px;
	display: inline
}
.qun_Hotwarp {
	width: 650px;
	padding: 20px 0 0 0;
	_overflow: hidden;
	background: #fff
}
.qun_m_box {
	position: relative;
	float: left;
	z-index: 103;
	margin-left: 12px;
	*margin-top:5px;
	*height:30px;
}
.qun_m_box a span.more {
	display: inline-block;
	border-color: #6eafd5 transparent transparent transparent;
	border-style: solid dashed dashed dashed;
	border-width: 4px 4px 0 4px;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
	position: relative;
	top: -2px;
	left: 3px;
}
.qun_m_box a:hover span.more {
	border-color: #0082cb transparent transparent transparent;
	border-style: solid dashed dashed dashed;
	text-decoration: none;
}
.qun_m_box .morelist {
	width: 100px;
}
.qun_sub i {
	font-style: normal;
	color: #FF0000;
	padding-top: 3px;
	margin: 5px;
}
.qun_sub .qun_s_box {
	display: block;
	overflow: hidden;
}
.qun_s_box table {
	width: 100%;
}
.qun_s_box table th{
	background: #f9f9f9;
	padding: 10px 30px 10px 10px;
	border-bottom: 1px solid #eee;
}
.qun_s_box table td {
	padding: 10px 30px 10px 10px;
    border-bottom: 1px solid #eee;
}
.qun_s_box table td select {
	padding: 3px;
	margin-right: 8px;
}
.qun_sub .qun_box {
	margin: 20px auto;
}
.qun_sub .qun_p {
	float: left;
	margin: 20px 0;
	width: 100%;
}
.qun_sub .qun_p h3 {
	background: #f2f2f2;
	border-bottom: 1px solid #ccc;
	line-height: 30px;
	height: 30px;
	padding: 0 10px;
	font-weight: 500;
}
.qun_sub .qun_p_b {
	border-bottom: 1px solid #eee;
	margin: 10px auto 5px;
	overflow: hidden;
	padding-bottom: 5px;
}
.qun_sub .qun_p_b2 {
	float: left;
	margin: 10px 0 20px 300px;
}
.qun_sub cite {
	font-size: 14px;
	font-weight: 600;
}
.qun_r {
	display: block;
}
.qun_r li {
	height: 70px;
}
.lface {
	float: left;
	width: 50px;
	height: 50px;
	background: #f6f6f6;
	text-align: center;
	padding:1px;
	border:1px solid #eee;
	overflow:hidden;
}

.rcon {
	float: left;
	margin-left: 15px;
	margin-top: 0;
	line-height: 19px;
	width: 120px;
	overflow: hidden;
	display: inline;
}
.rcon span {
	white-space: nowrap;
}
.qun_r .boxRimg {
	float: left;
	height: 48px;
	width: 48px;
	border: 1px solid #ddd;
}
.qun_r .lface img {
	height: 50px;
	width: auto;
	border: none;
	float: none;
	margin: 0 auto;
	padding: 0;
}
.qun_r .rcon .spanimg a {
	float: none;
}
.qun_nva_p {
	margin: 0 auto;
}
.index_m{width:560px}
.qun_r_t {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
.qun_r_t_11 {
	font-size: 18px;
}
.qun_r_t .mrb {
	width: 80px;
	border: none;
}
.qun_create_2 {
	background: #fff;
	margin: 10px;
	padding: 8px 0;
}
.qun_create_2 td {
	padding: 8px 0;
}
.qun_create_2 td select {
	padding: 5px;
	margin: 0 5px 0 0;
}
.qun_create_2 .qun_tips_2 {
	background: #FEFFE5;
	border: 1px solid #F9F2A7;
	border-radius: 3px 3px 3px 3px;
	margin: 20px 0 10px 113px;
	padding: 7px 10px;
	color: #FF0000;
	width: 450px;
}
.qun_create_2 .qun_tips_2 .yaoqing{color:#f00;}
.qun_create_2 .qun_tips_2 a:hover{
   text-decoration:underline;
}

.recd_title {
	width: 95%;
	padding: 5px 10px;
	background: #f8f8f8;
	color: #ff0000;
	font-weight: 600;
}
.recd_inner {
	float: left;
	width: 100px;
	height: 80px;
	margin: 20px 10px 10px 10px;
}
.user_face {
	margin: 0 auto 8px;
	text-align: center;
}
.user_face img {
	height: 48px;
	width: 48px;
	border: 1px solid #ccc;
}
.user_face_check {
	position: absolute;
	margin: 33px 0 0 -53px;
*margin:31px 0px 0px -57px;
}
.user_txt {
	width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
}
.recd_block ul {
	display: block
}
.recd_block ul li {
	float: left;
	height: 80px;
	width: 76px;
	margin: 10px 0 10px 0;
	overflow: hidden;
}
.recd_block ul li .user_n {
	float: left;
}
.recd_block ul li .user_n input {
	vertical-align: -2px;
	margin: 0;
}
.recd_block ul li .user_n span {
}
#qun_icon {
	margin: 0 auto;
}
.qun_s_b_box {
	text-align: center;
	clear: both;
	padding-top: 10px;
	margin: 0 0 30px 0;
	text-align: center;
}
.qun_list_bline {
	padding: 5px 10px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: 600;
	border-bottom: solid 1px #eee;
	margin-bottom: 5px;
	background: #f9f9f9;
	margin-top: 10px;
	overflow:hidden;
}
.qun_list_bline .mright{ 
    font-size:12px;
}
.qun_list_bline .mright li {
	float: left;
}
a.v_on {
	color: #333;
	font-weight: 600;
}
#qun_info_wp {
	padding: 0;
	margin-top: 0;
	margin-bottom:30px;
}
#qun_info_left {
	float: left;
	width: 90px;
	margin-right: 10px;
}
#qun_info_right {
	float: left;
	width: 480px;
}
#qun_icon img {
	width: 90px;
	height: 90px;
}
.mrb {
	border-right: 1px solid #eee;
	width: 50px;
	padding-left: 5px;
}
.q_th {
	font-weight: 600;
}
.qun_r_t_13{
	display:inline-block;
}
.qun_list {
	padding: 0px;
	margin: 0px;
	list-style: none;
	width: 540px;
}
.qun_list li {
	width: 255px;
	float: left;
	display: inline;
	height: 50px;
	margin-bottom: 30px;
}
.qun_list .img_wp img {
	height: 48px;
	width: 48px;
	border: 1px solid #ccc;
	float: left;
}
.qun_list .txt_wp {
	width: 50px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}
.cl {
	clear: both;
}
.pl20 {
	padding-left: 10px;
}
.pl10 {
	padding-left: 10px;
}
.pf_r_nav {
	margin-bottom: 10px;
	background-color:#f9f9f9;
	padding:10px;
	display: block;
    text-decoration: none;
	font-size: 14px;
text-align: center;
}
.farbtastic {
	position: relative;
}
.farbtastic * {
	position: absolute;
	cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
	width: 195px;
	height: 195px;
}
.farbtastic .colors, .farbtastic .overlay {
	top: 47px;
	left: 47px;
	width: 101px;
	height: 101px;
}
.farbtastic .wheel {
	background: url(js/colorpicker/wheel.png?20140922) no-repeat;
	width: 195px;
	height: 195px;
}
.farbtastic .overlay {
	background: url(js/colorpicker/mask.png?20140922) no-repeat;
}
.farbtastic .marker {
	width: 17px;
	height: 17px;
	margin: -8px 0 0 -8px;
	overflow: hidden;
	background: url(js/colorpicker/marker.png?20140922) no-repeat;
}

.qun_warp {
	padding: 20px 30px;
}
.create_qun_b {
	width: 186px;
	float: left;
	margin-top: 15px;
}

.qun_cat_listT {
	margin: 0 auto;
}
.qun_cat_listT h1 {
	border-bottom: 1px solid #eee;
	margin: 0;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	height: 18px;
}
.qun_cat_listT #sort_wp a {
	margin-right: 5px;
	padding-left:5px;
}
.qunmanage {
	float: right;
	color: #999;
}
.qunmanage a {
	padding: 0 5px;
}

.u-send{
    position: static;
}
.u-send:before, .u-send:after {
	display: none;
}
#cat_nav{ 
	margin-top:4px; 
	font-size:12px;
}
#cat_nav .tagcurrent span{
	background-color:#ddd;   	
}
#cat_nav .tagn span,#cat_nav .tagcurrent span{
	padding-top:8px;
}