/* 有奖转发的 */
.reward_flash_main .re_flash { display: block;overflow:hidden; padding-bottom: 10px; }
.re_flash_head { height: 35px; background: #f2f2f2;}
.re_flash_head .re_top { float: left;font-size: 14px; font-weight: bold; width:355px; padding: 5px 0 0 15px;}
.re_flash .re_flash_nav{ padding: 5px 0;
width: 200px;
float: right;
color: #aaa;}
.re_flash .re_flash_time {display: block;
text-align: right;
margin-top: 10px;}
.re_flash .re_flash_time2 { color:#f60;font-weight:600; margin-right:15px;font-size:12px; padding:5px;}
.re_flash_area { float:left; margin:10px 0;}
.re_flash_left{ width:170px; float:left; margin-right:15px;}
.re_flash_right { margin: 0 0 0 6px; display: inline;float: left;width: 385px;}
.prize {width:160px;}
.prize .prize_head { float:left; text-align:center; background:#e6e6e6; color:#f60; padding:2px 8px;border-radius:4px 4px 0 0; font-size:14px; font-weight:600;}
.prize .prize_image{}
.re_flash_title{font-weight:600;}
.prize .prize_image img{width:160px;height:160px;}
.prize .prize_image .prize_con{ width:140px; margin:154px 0 0;position:absolute; background:#ccc; opacity:0.8; padding:0 10px;}
.reward_b1{ margin:20px auto;width:450px;}
.themepwarp .reward_pbox{}
.themepwarp .reward_pbox #step1 td{ padding: 10px 0;
font-size: 14px;}
.themepwarp .reward_pbox #step1 td .inputs2,.themepwarp .reward_pbox #step1 td .inputs{ padding:6px; color:#666; border:1px solid #ddd;}
.themepwarp .reward_pbox #prize_list{ font-size:12px; padding-top:0; overflow:hidden;}
.themepwarp .reward_pbox .prize_top{ background:#efefef; padding:3px; width:660px; float:left; margin-bottom:5px; text-align:center; text-decoration:none;}
.themepwarp .reward_pbox #prize_list .prize_list_li{ float:left;overflow:hidden;width:660px;height:125px; padding:10px 0; border-bottom:1px dotted #ccc;}
.themepwarp .reward_pbox #prize_list .prize_list_li2{ float:left; overflow:hidden; width:665px;padding:10px 0; border-bottom:1px dotted #ccc;}
.themepwarp .reward_pbox #prize_list .prize_list_li2 p{ margin:5px 0;}
.themepwarp .reward_pbox #prize_list .prize_list_li .prize_list_li_img{ width:110px; height:125px; float:left; margin-right:15px; text-align:center;}
.themepwarp .reward_pbox #prize_list .prize_list_li .prize_list_li_img img{width:110px; height:110px;}
.themepwarp .reward_pbox #prize_list .prize_list_li .prize_list_li_p{ float:left;}
.themepwarp .reward_pbox #prize_list .prize_list_li .prize_list_li_p p{ padding:3px 0;}
.themepwarp .reward_pbox #prize_list .prize_list_li .prize_list_li_p input{ padding:3px; width:260px; border:1px solid #ddd; color:#666;}
.themepwarp .reward_pbox #step1 td span{ color:#0073B2;}
.themepwarp .reward_pbox .prize_rule{ font-size:12px;}
.themepwarp .reward_pbox .prize_rule input{ color:#666; padding:3px; margin:3px 0; width:260px;}
.t_re_body{float:left;width: 455px;padding: 10px 0;}
.t_re_left{float:left;width:155px;}
.t_re_right{float:left;width:280px;}
a.t_re_button{background: url(../../static/image/bg_img01.png?$SYS_BUILD$) no-repeat -431px -473px;float: left;height: 27px;margin-top: 10px;padding-top: 2px;text-align: center;text-decoration: none;width: 69px;color:#fff; text-decoration:none;}
a.t_re_button:link{ color:#fff;}
.t_re_p{margin-left: 35px;}


.reward_pbox{ padding:20px 30px;overflow:hidden;}

.reward_form{ width:720px; margin:0;display: block;}
.reward_form tbody,.reward_form tr{ display:block;}