/*侧边通用模块*/
.column {
	line-height: 21px;
	color: #999;
	padding: 0 0 25px;
	display: block;
    clear: both;
    float:left;
	width: 100%;
}
.column h3, .sideul {
	padding: 0;
	overflow: hidden;
	margin: 0;
	clear: both;
}
.column .sideul {
	padding: 0;
}
.sideul li {
	display: block;
}
.column h3, .column .vpnav,.column h4 {
	color: #555;
	font-size: 14px;
	margin: 0 0 10px;
	font-weight: 500;
	padding:0;
	line-height:20px;
	height:20px;
}
.column .vpnav {
	width: 190px;
	font-weight: 600;
	float: left;
	padding: 0 10px;
	_width: 186px;
}
.column h3 a {
	z-index: 2;
}

.feed_news_list_cols {
	width: 190px;
	height: 200px;
	overflow: hidden;
}
.feed_news_list_cols li {
	width: 190px;
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	word-wrap: break-word;
	word-break: normal;
	word-break: break-all;
	padding: 5px 0;
}
.column .followList {
	width: auto;
	margin-bottom: 6px;
}
.column .followList li {
	border: none;
}
#side_follow {
	padding: 0;
	z-index: 9;
	width: 190px;
	margin-bottom: 20px;
	background: #fdfdfd;
	padding-top: 20px;
	*display:none;
	
}
.sideboxList {
	display: block;
	overflow: hidden;
}
.sideboxList li {
	display: block;
	overflow: hidden;
	padding: 7px 0;
}
.sideboxList li .box_l {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
	overflow: hidden;
}
.sideboxList li .box_l img {
	width: 50px;
	height: 50px;
	border: none;
}
.sideboxList li .box_r {
}
.sideboxList li .box_r p {
	width: 130px;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	float: left;
}
.sideuserList {
	overflow: hidden;
	width: 210px;
}
.sideuserList li {
	width: 50px;
	float: left;
	margin: 0 20px 15px 0;
	overflow: hidden;
	display: inline;
	text-align: center;
	height: auto;
	background: none;
}
.sideuserList li .manface {
	height: 50px;
	width: 50px;
	float: left;
}
.sideuserList li img {
	height: 50px;
	float: left;
}
.sideuserList li b {
	text-align: center;
	overflow: hidden;
	width: 50px;
	height: 70px;
	height: 20px;
	float: left;
	font-weight: 500;
}
.memberList li {
	float: left;
	margin: 5px 15px 5px 0;
	overflow: hidden;
	width: 50px;
	text-align: center;
	display: inline;
}
.memberList li .manface {
	height: 50px;
	width: 50px;
	float: left;
	background: #fff;
}
.memberList li b {
	float: left;
	font-weight: 500;
	height: 20px;
	overflow: hidden;
	text-align: center;
	width: 50px;
}
.poll_item_list input {
	margin: 0;
	padding: 0;
}
/*20130410 start*/
.sidedl {
	display: block;
}
.sidedt {
	border-bottom: 1px dotted #ddd;
	padding-bottom: 10px;
}
.sidedt h3 {
	font-size: 14px;
	border-bottom: 1px dotted #ddd;
	font-weight: 600;
	padding: 10px 0 0;
}
.sidedt .send-time {
	display: block;
	font-size: 12px;
	color: #999;
	font-weight: 500;
}
.sidedt .notice-detail {
	display: block;
}
.sidedd {
	border-bottom: 1px dotted #eee;
	padding: 5px 0;
}
.sideimg li {
	width: 250px;
	height: 120px;
	margin-bottom: 10px;
	float: left;
	overflow: hidden;
	position: relative;
}
.toll_img {
	width: 250px;
	height: 120px;
	text-align: center;
	overflow: hidden;
	background: #f6f6f6;
}
.toll_img img {
}
.toll_info {
	width: 250px;
	height: 120px;
	background: #eee;
	vertical-align: middle;
	display: table-cell;
}
.sideimg li p {
	padding: 10px;
	font: normal 13px/24px '微软雅黑';
	cursor: pointer;
}
.sideimg li a {
	color: #666;
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 0;
}
.side-employee {
	width: 250px;
	display: block;
}
.side-employee dl {
	width: 250px;
	float: left;
	clear: both;
	display: inline;
	padding: 9px 0;
	border-bottom: 1px dotted #ddd;
}
.side-employee .employee-face {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
	margin-top: 3px;
}
.side-employee .employee-cents {
	width: 190px;
	display: inline;
	float: left;
}
.side-employee .employee-cents .text {
	height: 65px;
	overflow: hidden;
	display: block;
}
.side-employee .employee-cents .opt {
	color: #ccc;
	display: block;
	text-align: right;
}
.widget_qun_select {
	padding-top: 20px;
}
.qun_select sub {
	padding: 3px 5px;
	background-color: #f0f0f0;
	font-size: 14px;
	display: block;
	margin: 0 0 5px;
	color: #555;
}
.more_select {
	text-align: right;
	cursor: pointer;
}
.com_more {
	width: 59px;
	height: 22px;
	background: url(../../static/image/com_more.gif?20140922) no-repeat;
	float: right;
	cursor: pointer;
}
/*20130410 end*/
.side-tabtit {
	height: 30px;
}
.tagpanel {
	height: auto;
}
.side-tab {
	font-size: 14px;
	background: #fff;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: left;
	padding: 0 10px;
	color: #555;
	cursor: default;
}
.hot-tag {
	margin-right: 8px;
}
.tag-select {
	background: #ededed;
	padding: 0 10px;
}
.hot-tagbox {
	height: auto;
	padding: 10px 0;
	overflow:hidden;
}
.recom-tagbox {
	height: auto;
	padding: 10px 0;
	display: none;
	overflow: hidden;
}
.recom-tagbox li {
	position: relative;
	word-wrap: break-word;
}
.recom-tagbox li a {
	width: 190px;
	float: left;
}
.recom-tagbox li .total {
	float: left;
	color: #999;
	background: #fff;
	padding: 5px;
	margin: 10px 0;
	width: 178px;
	border: 1px solid #eee;
	position: relative;
}
.recom-tagbox li .total .arrow-up, .recom-tagbox li .total .arrow-up-in {
	top: -11px;
	left: 8px;
	padding: 0;
}
.tagpanel span {
	padding: 4px 8px;
	margin: 2px;
	float: left;
	color: #fff;
	word-break:keep-all;
	white-space:nowrap;
}
.tagpanel span:hover {
	opacity: 0.8;
}
.tagpanel span a,.tagpanel span a:hover {
	color: #fff;
}
.tagpanel .ut0 {
	background-color: #98b65c;
}
.tagpanel .ut1 {
	background-color: #70a2bf;
}
.tagpanel .ut2 {
	background-color: #ebafab;
}
.tagpanel .ut3 {
	background-color: #bb83b6;
}
.tagpanel .ut4 {
	background-color: #e0badd;
}
.tagpanel .ut5 {
	background-color: #d9726d;
}
.tagpanel .ut6 {
	background-color: #ace;
}
.tagpanel .ut7 {
	background-color: #aec;
}
.tagpanel .ut8 {
	background-color: #cae;
}
.tagpanel .ut9 {
	background-color: #cea;
}
.recom-tagbox li .total span:hover {
	opacity: 1;
}
.attention {
	width: 59px;
	height: 20px;
	background: url(../../static/image/bg_img01.png?20140922) 0 -412px no-repeat;
	float: left;
	margin: -18px 0 0 100px;
}
.attention:hover {
	background: url(../../static/image/bg_img01.png?20140922) 0 -432px no-repeat;
	margin: -35px 0 0 100px;
}
.attention_del {
	width: 92px;
	height: 20px;
	background: url(../../static/image/bg_img01.png?20140922) 0 -392px no-repeat;
	float: left;
	margin: -35px 0 0 93px;
}
.ff_1 .follow_3 .follow_html2_1, .ff_1 .follow_3 .follow_html2_2 {
	margin: -35px 0 0 100px;
}
#mb_list_wp .tb td, #mb_list_wp .tb th {
	border-bottom: 1px solid #e0e0e0;
	padding: 8px 0;
}
/*用户信息*/
.memberBox {
	display: block;
	clear: both;
	
	padding: 0 0 20px;
}
.memberBox a:link, .memberBox a:visited {
	color: #333;
	text-decoration: none;
}
.memberBox .person_info, .memberBox .user_atten {
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0 0 10px;
}
.memberBox .sTitle {
	margin: 10px 0;
	font-weight: 600;
	color: #fff;
	background: url(../../static/image/side_bg.gif?20140922) no-repeat;
	height: 28px;
	line-height: 28px;
	text-indent: 10px;
}
.memberBox .avatar2 {
	float: left;
	width: 80px;
	height: 80px;
	box-shadow: 0 2px 2px #ccc;
	text-align: center;
	position: relative;
*position:static;
	margin-right: 10px;
	overflow: hidden;
	margin-bottom: 10px;
}
.memberBox .avatar2 img {
	height: 80px;
	width: auto;
}
.memberBox .avatar2_tips {
	filter: alpha(opacity=60);
	opacity: 0.6;
	position: absolute;
*position:static;
	left: 0;
	bottom: 0px;
	width: 80px;
	background: #000;
	color: #fff;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	display: none;
*margin-top:-20px;
}
.memberBox .avatar2_tips a:link {
	color: #fff;
	text-decoration: none;
}
.memberBox .avatar2_info {
	word-wrap: break-word;
	overflow: hidden;
}
.memberBox .avatar2_info .name, .memberBox .avatar2_info .ico_bed {
	white-space: normal;
	word-wrap: break-word;
	width: 150px;
	display: inline-block;
}
.memberBox .avatar2_info .integral {
	width: 150px;
	height: 22px;
	line-height: 22px;
	float: left;
	color: #cc6600;
	margin: 3px 0 0;
}
.memberBox .avatar2_info .integral a {
	color: #cc6600;
}
.memberBox .avatar2_info .edit_sign {
	width: 150px;
	height: 20px;
	float: left;
	background: url(../../static/image/level.png?20140922) no-repeat -21px -361px;
	text-indent: 18px;
}
.work_wrap {
	padding: 5px;
	background: #f2f2f2;
	display: block;
	margin-top: 10px;
	clear: both;
}
.memberBox .edit_sign {
	margin: 0 0 10px;
	display: block;
	clear: both;
}
/*关注信息*/
.user_atten .person_atten_l {
	float: left;
	padding: 10px 5px;
	text-align: left;
	line-height: 18px;
}
.user_atten .person_atten_r {
	float: left;
	text-align: left;
	line-height: 18px;
}
.user_atten .num {
	font-size: 18px;
}
/*用户勋章*/
.medal {
	display: block;

	clear: both;
}
.medal li {
	display: inline;
	position: relative;
}
.medal li img {
	width: 25px;
	height: 25px;
	margin: 0 4px 5px 0;
	display: inline;
}
.sina_weibo_c, .qqwb_c, .qqim_c, .tel_c, .medal_c {
	position: absolute;
	margin: -10px 0 0 -139px;
*margin:25px 0 0 -182px;
	display: none;
	background: url(../../static/image/medal/M_box2.gif?20140922) no-repeat;
	width: 310px;
	height: 150px;
	z-index: 10;
}
.act_ul {
	padding: 0;
}
.act_ul li {
	background: none;
	padding: 10px 0;
}
.act_ul li .fBox_r {
	width: 150px;
	float: left;
	line-height: 18px;
	display: inline;
	overflow: hidden;
	padding-top: 3px;
}
/*侧边公用推荐框*/
.arrow, .right_tj_box_arrow {
	position: absolute;
	top: -12px;
	left: 20px;
	overflow: hidden;
	display: block;
}
*+html .arrow {
	left: -20px;
}
.arrow .out, .right_tj_box_arrow .out {
	display: inline-block;
	overflow: hidden;
	color: #ddd;
	z-index: 56
}
.arrow .inside, .right_tj_box_arrow .inside {
	top: 1px;
	color: #f8f8f8;
	left: 0px;
	position: absolute;
	z-index: 56
}
.right_tj_box {
	width: 190px;
	color: #999;
	float: left;
	margin: 10px 0 8px;
	position: relative;
}
.right_tj_box span {
	width: 172px;
	background: #fff;
	border: #eee 1px solid;
	float: left;
	padding: 5px 8px;
	border-radius: 1px;
}
#longtext_info_box {
	width: 445px;
}
.m_m2 {
	width: 190px;
	display: inline;
	text-align: right;
	float: left;
}
.h_h2 {
	height: 70px;
}
#app_topic_type {
	vertical-align: -2px;
}
.full_img_s {
	margin: 0;
}
.boxRimg_img {
	float: left;
}
.boxRimg_img img {
	float: left;
}
.boxRimg_txt {
	float: left;
	width: 120px;
	line-height: 18px;
	margin-left: 5px;
}
.boxRimg_txt p {
	float: left;
	width: 120px;
}
.boxRimg_txt .spanimg {
	float: left;
	margin-right: 5px;
}
.boxRimg_txt .spanimg img {
	float: none;
}
.boxRimg_txt .spanimg a {
	float: none;
}
.boxRimg_txt img {
	margin-right: 2px;
}
ul.fav_llist {
	display: block
}
ul.fav_llist li {
	float: left;
	margin-right: 8px;
}
ul.fav_llist #add_favorite_event {
	width: 500px;
	float: left;
	display: block;
	padding: 0 0 10px 10px;
	color: #ff0000;
}
.column .cat_block,#city_qun_div .sideul li{
	margin: 3px 0;
	padding: 5px 0;
	display: block;
	border-bottom: dotted 1px #eee;
}

.sc_r_t_a{ width:138px;margin-right:5px; float:left;}
.sideul .r_replace{ text-align:right;margin:-25px 0 0 211px; position:absolute;}
.sideul .more{margin-left:210px;}
.sideul .people{width:240px;height:20px;border:1px #eee solid;margin:55px 0 5px 0;*margin:58px 0 5px 0;;padding:5px 0 5px 8px;}

#add_ajax_favorite_tags span {
background: #f2f2f2;
float: left;
margin: 0 5px 5px 0;
padding: 2px 9px;
}
.thread_add {
	float: left;
	background: url(../../static/image/bg_img01.gif?20140922) no-repeat -253px -447px;
	background-color: #f2f2f2;
	padding: 2px 6px 2px 15px;
}
#recommend_top,#week_dig,#month_dig{ float:none;}
.channelul li .list_con{ float:none;}



.column .cols {

	padding:0;
}


.cols li .recommend a:link{
    color:#D90000;
}
.cols span{
	color:#999;
	font-weight:600;
}

.news_notice{
    padding-left:15px;
}
.news_notice li{
    list-style:disc;
}
.news_notice p{
	width:140px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	color:#777;
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:middle;
}
.news_notice .count {
	width: 35px;
	overflow:hidden;
	white-space:nowrap;
	color:#B9B9B9;
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:middle;
}


.memberList{width:110%;}

.memberList li{margin: 5px 19px 5px 0;}

.memberBox .avatar2_info .name a:link,.memberBox .avatar2_info .name a:visited{
    color:#4D5265;
}
.memberBox .avatar2_info .integral,.memberBox .avatar2_info .integral a{
	color:#888;
	height:16px;
	line-height:16px;
}
.memberBox .user_atten{
	margin:0;
	clear: both;
}
.memberBox .edit_sign a img{
    vertical-align:text-top;
}

/*热门回复*/
ul.hot_reply_b {
	margin: 0 auto 20px;
}
ul.hot_reply_b li {
	float: left;
	margin: 5px 0;
	overflow: hidden;
	width: 190px;
	height: 20px;
	text-align: left;
}
ul.hot_reply_b b {
	width: 16px;
	height: 16px;
	line-height: 16px;
	background: #eee;
	float: left;
	margin-right: 7px;
	text-align: center;
	font-weight: 500;
	margin-top: 3px;
	font-family: Tahoma;
}