/* CSS Document begin */
/* 简易登录页面 @itom 2012.10*/
body{padding:0; margin:0; overflow-x: hidden; background:url(../../static/image/v4_simple_login.jpg?20140922) center no-repeat; background-size:cover; width:100%; height:100%;}  
.simple_layout{ padding-top:8%;}
input, textarea, select{box-shadow:none;font-family:"微软雅黑",Arial}
strong,b{ font-weight:500;}
.headWrap{width:900px;height:130px;  margin:0 auto; overflow:hidden;}
.logo{overflow:hidden;position:absolute;overflow:hidden; margin-top:0;}
.logo a{display:block;text-decoration:none;}
.mainWrapper{ width:900px; margin:0 auto 10px; overflow:hidden;height: 300px }
.loginbox{ height:237px; width:350px; margin:-8px 0 0 45px; display:inline; float:left; background:url(../../static/image/login_box.png?20140922) center no-repeat;_background:#eee;}
.login_area{ width:273px; height:175px; /*overflow:hidden; */margin:43px 0 0 43px;position: relative;}
.login_area .item{ width:273px;position:relative;margin-bottom:21px;}
.login_area .item .enterInput input{ width:255px; height:20px; line-height:20px; background:none; _background:#fff; border:none; padding:5px;margin: 0 3px;}
.login_area #username_tip{width:25px;height:25px; position:absolute;top:30px; color:#f60;}
.tleft{ width:450px; height:220px; float:left;}
.tleft a{ width:110px; height:110px; float:left; margin:1px; padding:0; display:inline; overflow:hidden;}
.tleft a img{ width:110px; height:110px; border:none;}
.tleft a:hover{ opacity:0.8;}
.login_area .itemother{ width:272px; height:25px; line-height:25px; position:relative; margin:8px 0 0 0;_margin:8px 0 -40px 0;}
.login_area .loginother{ width:272px; height:25px; position:absolute;margin:50px 0 0 -280px;_margin:85px 0 0 -280px;}
.login_area .loginother span{ float:left; display:inline;}
.login_area .loginother img{ width:20px; height:20px;}
.sinaweiboLogin, .qqweiboLogin, .yyLogin, .renrenLogin, .kaixinLogin, .fjauLogin{width:20px; height:20px; margin:0 5px;}
.pos_rel{ margin-top:-4px; height:38px;}
#savelogin,.inputcheckTag{ cursor:pointer;padding: 0;background: none;vertical-align: -1px; border:none;box-shadow:none;}


.simple_btn{ width:126px; height:38px;cursor:pointer;border-radius: 3px;font-size: 16px;color: white;text-shadow: #1FABE7 0px 0px 2px; overflow:hidden; margin-right:16px;border-top:1px solid #5abcee;border-bottom:1px solid #0d96cf;background:#149cdb;background:-webkit-gradient(linear,0% 0,0% 100%,from(#1ba2e8),to(#0d96d0));background:-webkit-linear-gradient(top,#1ba2e8,#0d96d0);background:-moz-linear-gradient(top,#1ba2e8,#0d96d0);background:-ms-linear-gradient(top,#1ba2e8,#0d96d0);background:-o-linear-gradient(top,#1ba2e8,#0d96d0);border:none;}
.simple_btn:hover{text-decoration:none;border-top:1px solid #50b5e7;border-bottom:1px solid #0d8dc2;background:#0d92d0;background:-webkit-gradient(linear,0% 0,0% 100%,from(#0d98de),to(#0d8dc3));background:-webkit-linear-gradient(top,#0d98de,#0d8dc3);background:-moz-linear-gradient(top,#0d98de,#0d8dc3);background:-ms-linear-gradient(top,#0d98de,#0d8dc3);background:-o-linear-gradient(top,#0d98de,#0d8dc3);text-decoration:none;cursor:pointer;}

.simple_reg{ width:126px; height:38px;cursor:pointer;border-radius: 3px;font-size: 16px;color: #666;text-shadow: #fff 0px 0px 2px; overflow:hidden; margin-right:0;border-top:1px solid #d9d9d9;border-bottom:1px solid #ccc;background:#e1e1e1;background:-webkit-gradient(linear,0% 0,0% 100%,from(#e9e9e9),to(#e1e1e1));background:-webkit-linear-gradient(top,#e9e9e9,#e1e1e1);background:-moz-linear-gradient(top,#e9e9e9,#e1e1e1);background:-ms-linear-gradient(top,#e9e9e9,#e1e1e1);background:-o-linear-gradient(top,#e9e9e9,#e1e1e1);border:none;}
.simple_reg:hover{text-decoration:none;border-top:1px solid #d9d9d9;border-bottom:1px solid #ccc;background:#ebebeb;background:-webkit-gradient(linear,0% 0,0% 100%,from(#e9e9e9),to(#d7d7d7));background:-webkit-linear-gradient(top,#e9e9e9,#d7d7d7);background:-moz-linear-gradient(top,#e9e9e9,#d7d7d7);background:-ms-linear-gradient(top,#e9e9e9,#d7d7d7);background:-o-linear-gradient(top,#e9e9e9,#d7d7d7);text-decoration:none;cursor:pointer;}


.yxm_box_tips{ width:50px; height:50px; float:left; display:inline; margin-top:160px; position:relative;}


.login_area #username_tip{ top:3px;}
.login_area #username_tip img{ width:auto; height:25px;}
.tlb_sina,.tlb_qq,.tlb_yy,.tlb_renren,.tlb_kaixin,.tlb_fj{ display:none;}