/*###########################
   @Name:记事狗微博客主样式表 
   @Link:www.jishigou.net
   @version $Id$
   @Author:@itom
#############################*/
/* CSS Document begin */

/*头部*/
.m-hd2 ul.hleft li.logo a:hover{
    background:none;
}
.logo em{
	font-size:23px;
	
	color:#fff;
}
.logo strong{
	font-size:23px;
	color:#4CD2FF;
}
.logo span{
	font-size:12px;
	color:#F0F0F0;
	position:absolute;
	top:5px;
	line-height:22px;
}

.allchannelBox dt {
    _margin-top: 0;
}
 .m-hd2 ul.hleft li .allchannelBox dl a {
	color:#666;
	text-shadow: none;
	font-size: 12px;
	padding: 2px 5px 2px 6px;
	line-height:20px;
}


.searchTool .nowSearch{
	height:26px;
	line-height:26px;
	font-size:12px;
}
.searchTool .btnSel{ 
    height:26px;
}


/*左边侧导航栏*/
.menu_m .pull_down{
    left:30px;
}

/*通用导航栏 2013.11 begin*/

.groupBg{ 
	background:#f2f2f2; 
	padding:7px 10px; 
	overflow:hidden; 
	display:block;
	clear:both;
}
.groupBg .left{ 
    float:left;
}
.groupBg a.current,.groupBg a.current:link,.groupBg a.current:visited{ 
	background-color:#fff;
	color:#333;
	text-decoration:none;
	border-color:#E5E6E7;
	border-radius:4px; 
	font-weight:600;
}
.groupBg .left a{ 
	border:1px solid #EAEDEE;
	display:inline-block;
	height:19px;
	line-height:19px;
	margin:0 10px 0 0;
	text-align:center;
	padding:0 7px;
}
.groupBg .mid{ 
	float:left;
	margin-left:15px;
}
.icontime{
	height:13px;
	vertical-align:0;
	width:13px;
}
.groupBg .mid .input{
	height:18px;
	width:66px;
	border-color:#C1C1C1 #ECECEC #ECECEC #c1c1c1;
	border-style:solid;
	border-width:1px;
	margin:0 5px;
	padding:2px 0 0 1px;
}
.groupBg .right{ 
	float:right;
	margin-right:0;
}
.searchbg{
	height:22px;
	margin-top:0;
	overflow:hidden;
	float:left;
}
.searchbg .inputs{ 
	float:left;
	height:18px;
	margin-right:3px;
	width:112px;
	+width:100px;
	border-color:#C1C1C1 #ECECEC #ECECEC #C1C1C1;
	border-style:solid;
	border-width:1px;
	padding:2px 0 0 1px;
}
.searchbg .searcheck{ 
	background:url(../images/btnSearch_c1.gif?20140227) no-repeat;
	color:#666;
	float:left;
	height:22px;
	width:45px; 
	overflow:hidden; 
	padding-top:0px;
	*padding-top:2px;
	border:none; 
	cursor:pointer;
}
.nfBoxList{ 
	height: 23px;
	line-height:23px;
	padding-bottom:3px;
	*padding-bottom:0px;
}
.nfBoxList a{ 
	display:inline;
	float:left;
	margin-right:20px;
	text-decoration:none;
}
.nfBoxList .chgz_ico{ 
	float:left;
	margin-right:5px;
	margin-top:5px; 
	width:13px; 
	height:15px;
}
.clear{
	clear:both;
	margin:0;
	padding:0;
}
.nfTagB ul li a.arrow,.nfTagB ul li a.arrow:link{
	display:inline-block;
	position:relative;
	width:14px;
	height:13px;
	padding:0;
	margin-left:0;
	vertical-align:text-top;
	margin-top:8px;
	*vertical-align:baseline;
	border:none; 
	float:right;
}
.nfTagB ul li a.arrow:hover{
    background-color:#6eafd5;
}
.nfTagB ul li a.arrow:active{
    background-color:#0082cb;
}
.nfTagB ul li a.arrow .arr_m{
	display:inline-block;
	border-color:#444;
	border-style:solid dashed dashed dashed;
	border-width:4px 4px 0 4px;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
	margin:6px 0 0 3px;
	vertical-align:-9px;
	*vertical-align:2px;
	_vertical-align:1px;
}
.nfTagB ul li a.arrow:hover .arr_m{
	border-color:#f6f6f6 transparent transparent transparent;
	border-style:solid dashed dashed dashed;
}
.nfTagB ul li a.arrow:active .arr_m{
	border-color:#f6f6f6 transparent transparent transparent;
	border-style:solid dashed dashed dashed;
}
.nfTagB ul li a span.more{
	display:inline-block;
	border-color:#6eafd5 transparent transparent transparent;
	border-style:solid dashed dashed dashed;
	border-width:4px 4px 0 4px;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
	position:relative;
	top:-2px;
	left:3px;
}
.nfTagB ul li a:hover span.more{
	border-color:#0082cb transparent transparent transparent;
	border-style:solid dashed dashed dashed;
	text-decoration:none;
}
.sltmenu{
	background:#fff url(../images/man_group.gif?20140227) no-repeat 10px center;
	border:1px solid #999999;
	padding:1px 2px 5px 2px;
	text-indent:25px;overflow:hidden; 
	z-index:100;width:90px; 
	height:20px; 
	display:none;
	position:absolute;
	top:13px; 
	font-weight:500;
	*right:-83px;
}


#follow_m_2 {
	width: 45px;
	background: #fff;
	border: 1px solid #eee;
	padding: 0 5px;
}
#follow_m_2 .btn_feedsType {
	width: 15px;
	height: 15px;
	float: left;
	margin: 6px 3px 0 0;
}

.nfTagB ul li.li-datePicker{
	width: 100px;
	position: relative;
	right: inherit;
	float: right;
	margin: 5px 0 0 0;
}
.nfTagB ul li .li-datePicker-img{
    cursor: default;
    margin: 0 5px;
}
.nfTagB ul li.li-datePicker #demospan{
	display: inline;
	padding: 0;
}

/*通用导航栏 2013.11 end*/

.feedCell .wb_l_face{
    margin:0;
}
.feedCell .from{
    width:100%;
}

.mycome a,.mycome a:link,.mycome a:hover{
    color:#7392B2;
}
.favorTag a,.favorTag a:link,.favorTag a:hover{
    color:#7392B2;
}

.option ul li a span.more{
    border-color:#7493B2 transparent transparent transparent;
}

.close_beluga{
	float:right;
	padding: 0 5px;
	height: 20px;
	line-height: 20px;
}
.beluga{
	float:right;
	font-size:12px;
	color:#D90000;
	padding:0 10px 0 15px;
}



.jiejue{
	width: 50px;
	height: 20px;
	background:url(../../static/image/main_icon.png?20140227) no-repeat 0 -112px;
	display: inline-block;
}
.jiejue_txt .mid{
	padding-right:113px;
	width:352px;
}

.best_reply{
	width:60px;
	height:60px;
	background:url(../../static/image/main_icon.png?20140227) no-repeat 0 -134px;
	position: absolute;
	top: 46px;
	right: 22px;
	font-size:16px;
	text-align: center;
	padding: 10px 0 0;
	height: 52px;
}
.best_reply,.best_reply:link,.best_reply:hover{
    color:#fff;
}



.comment_p_t3 input[type="checkbox"]{
    margin-top:-2px;
}/*复选框与文字对齐*/




/*个人主页*/
.d .main {
	width: 980px;
	min-height: 760px;
	overflow: hidden;
	margin: 0 auto 20px;
	border-radius: 5px;
}
.Menulink_classic{
	background: #F2F2F2;
	padding: 0 10px 0 15px;
	height: 30px;
	line-height: 30px;
}
.opt_l_c2{
	float: left;
}
.bt_gp_c{
    float:left;
}
.bt_gp_c a:link{
    color:#555;
}
.bt_gp_c a:hover{
    color:#006A92;
}
.gb_btn{
	z-index: 1;
	display: block;
	_float: left;
	min-width: 10px;
	margin-left: 0;
	-webkit-border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
	border-color: #CFCFCF;
	background-color: #E5E5E5;
	background-position: 0 -162px;
	_overflow: hidden;
	height: 16px;
	padding: 2px 8px 3px;
	margin: 0;
	text-align: center;
	line-height: normal;
	white-space: nowrap;
	border-width: 1px;
	border-style: solid;
	background-repeat: repeat-x;
	-moz-border-radius: 2px;
	cursor: pointer;
	background-image:url(../../static/image/bt_120426.png?20140227);
}


.w_drop {
	width: 80px;
	position: absolute;
	z-index: 1;
	margin-top: -62px;
	margin-left: 317px;
	display:none;
	*left:220px;
}
.w_drop_b {
	background: #fff;
	padding: 2px;
	border: 1px solid #D9D9D9;
}

.lst_drop {
	overflow: hidden;
	color: #777;
}
.lst_drop li {
	padding: 0;
	line-height: 19px;
	border-bottom: 0;
}
.lst_drop li a {
	display: block;
	color: #666;
	padding: 3px 4px;
	line-height: 16px;
	white-space: nowrap;
	text-align: left;
}
.lst_drop li a:hover {
    color:#333;
}
.tab_s_home li a:link{
    color:#555;}


.boxNav li{
	margin-right:15px;
}
.vote_list .Contant, .vote_li_list .Contant{
	width:495px;
}
.vote_validity {
    display: block;
	margin: 5px 0 5px 0;
	float: left;
	width: 550px;
	padding: 5px;
	clear:both;
}

#interestUid .followList li{
	display:block;
	margin-bottom:5px;
}
.one_comment li.from .option{
	width:330px;
}

/*右边侧栏*/


/*解决文字与图片对齐问题*/

.memberBox .geren_msg{
	background-color:#EDF8FE;
	border:1px solid #C6EAFD;
	padding:5px;
	font-size:12px;
	color:#666;
}
.memberBox .geren_msg{
	font-size:12px;
	color:#0059B2;
}



.client{
    border-top:none;
}
.client ul li{
	float:left;
	
}
.client ul li span{
    float:left;
}
.client ul a:link, .client ul a:hover{
    color:#7292B2;
}
.erweima p{
	text-align:center;
	color:#666;
}
.erweima p a{
    color:#D80000;
}
.erweima img{
	padding:15px 0;
	margin:0 auto;
}
