/*###########################
   @Name:记事狗微博客主样式表 
   @Link:www.jishigou.net
   @version $Id$
   @Author:hoho
#############################*/
/* CSS Document begin */

* html .clearfix {
	height: 1%;
}
.clearfix {
	display: inline-block;
}
.clearfix {
	display: block;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.talkShowList li {
	padding-bottom: 12px;
	margin: 20px 0px;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px dotted #ddd;
}
.talkShowList li.end {
	background: none;
}
.talkShowList li .feed_ls {
	float: left;
	width: 325px;
	padding-top: 3px;
}
.talkShowList li .pic_ls {
	float: right;
	text-align: right;
	width: 230px;
	overflow: hidden;
}
.talkShowList li .f_content {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 5px;
	overflow: hidden;
}
.talkShowList li .f_content {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 5px;
	overflow: hidden;
}
.talkShowList li .f_content .ico_shtalk {
	vertical-align: middle;
	margin-top: -2px;
}
.talkShowList li .f_content .ico_status {
	margin: 0 0 0 5px;
	vertical-align: middle;
}
.talkShowList li .f_time {
	color: #999;
	padding-bottom: 7px;
}
.talkShowList li .f_name {
	color: #666;
	height: 20px;
	overflow: hidden;
}
.talkShowList li .f_name a {
	color: #666;
}
.talkShowList li .f_name span {
	padding-right: 10px;
}
.ico_shtalk {
	background: url(../../static/image/item/live_shico.gif?20140922) no-repeat scroll 0 0;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	vertical-align: middle;
}
.talkShowList li .guest_lst {
	width: 54px;
	height: 82px;
	overflow: hidden;
	text-align: center;
	padding-left: 15px;
	float: right;
}
.talkShowList li .guest_lst .photo {
	display: block;
	height: 50px;
	width: 50px;
	margin-bottom: 5px;
}
.ico_times {
	background-position: 0 -40px;
}
.ico_talkshow {
	background-position: 0 0;
	margin-top: -2px;
}
.ico_talk {
	background-position: 0 -80px;
}
a.ico_recommed {
	background: url(../../static/image/item/live_shico.gif?20140922) no-repeat scroll 0 -136px;
	color: #d30000;
	padding-left: 22px;
	display: inline-block;
}
.address_r {
	text-align: right;
	display: block;
}
.address_r strong {
	font-weight: bold;
}
.ico_clock_normal, .ico_clock_gray, .ico_clock_on {
	background: url(../../static/image/item/ico_clock.gif?20140922) no-repeat scroll 0 0;
	width: 44px;
	height: 42px;
	display: inline-block;
	margin-bottom: 6px;
}
.ico_clock_gray {
	background-position: 0 -50px;
}
.ico_clock_on {
	background: url(../../static/image/item/ico_clock_on.gif?20140922) no-repeat scroll 0 0;
}
.ico_status {
	display: inline-block;
	background: url(../../static/image/item/liveni01.gif?20140922) no-repeat scroll 0 -150px;
	width: 50px;
	height: 18px;
	margin-top: 16px;
*margin-top:11px;
	overflow: hidden;
	text-indent: -9999px;
}
.ico_complete {
	background-position: 0 -210px;
}
.ico_ongoing {
	background-position: 0 -180px;
}
.ico_notyet {
	background-position: 0 -150px;
}
.talk_line {
	color: #666;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 1px dashed #ccc;
	padding: 5px 0;
}
.talk_line span a {
	float: right;
	font-size: 12px;
	font-weight: normal;
}
.time_talkShowWrap {
	padding-top: 10px;
}
.time_talkShowWrap .status_lf {
	float: left;
	width: 50px;
	text-align: center;
}
.time_talkShowWrap .time_rt {
	float: right;
	width: 120px;
}
.time_talkShowWrap .time_rt .date_ls {
	font-size: 14px;
	color: #d30000;
}
.time_talkShowWrap .time_rt .time_ls {
	font-size: 20px;
	color: #d30000;
	padding-bottom: 8px;
}
.btn_tm_show {
	background: url(../../static/image/item/talk_btndz.gif?20140922) no-repeat scroll 0 0;
	width: 116px;
	height: 33px;
	overflow: hidden;
	text-indent: -9999px;
	display: block;
}
.btn_wydz {
	background-position: 0 0;
}
.btn_wycy {
	background-position: 0 -40px;
}
.btn_dzwc {
	background-position: 0 -80px;
	cursor: default;
}
.btn_wyfx {
	background-position: 0 -120px;
}
.ico_clock_normal, .ico_clock_gray {
	background: url(../../static/image/item/ico_clock.gif?20140922) no-repeat scroll 0 0;
	width: 44px;
	height: 42px;
	display: inline-block;
	margin-bottom: 6px;
}
.ico_clock_gray {
	background-position: 0 -50px;
}
.ico_clock_on {
	background: url(../../static/image/item/ico_clock_on.gif?20140922) no-repeat scroll 0 0;
}
p.info_img, p.info_txt, p.info_time {
	text-align: center;
	margin-top: 10px;
}
p.info_img {
	margin-top: 0;
}
.info_img1, .info_img2, .info_img3, .talk_icon_8, .talk_icon_9 {
	background: url(../../static/image/item/icon.png?20140922) no-repeat;
}
.info_img1, .info_img2, .info_img3 {
	width: 96px;
	height: 57px;
}
.info_img1 {
	background-position: 0 -830px;
}
.info_img2 {
	background-position: 0 -888px;
}
.info_img3 {
	background-position: 0 -945px;
}
.talk_icon_8 {
	background-position: 0 -228px;
	height: 28px;
	display: inline-block;
	padding-left: 20px;
}
.talk_icon_9 {
	background-position: 0 -257px;
	height: 28px;
	display: inline-block;
	padding-left: 17px;
	margin: 0px 15px 0px 30px;
}
.talk_son {
	margin: 0;
	height: 40px;
	line-height: 40px;
	border-bottom: #dbdbdb 1px solid;
	border-top: none;
	background: #f5f5f5;
}
.talk_son_titR {
	float: right;
	width: 250px;
	text-align: right;
}
.talk_son_titL {
	float: left;
	margin-left: 15px;
	font-size: 14px;
	color: #666;
}
.talk_son_titL em {
	margin: 0px 10px;
	color: #333;
}
.talk_son_con1_1L h2 {
	background: url(../../static/image/item/title.png?20140922) no-repeat 0 -430px;
	width: 225px;
	height: 35px;
	margin: 5px 0;
}
.talk_son_con1_1L p {
	line-height: 22px;
	margin: 10px 0;
	padding: 0px;
	overflow: hidden;
	color: #666;
	text-indent: 24px;
}
.gray {
	color: #666;
}
.forange {
	color: #f4742b;
}
.btn_normal {
	color: #666;
	cursor: pointer;
	border: 1px solid #ddd;
	background-color: #f1f1f1;
	padding: 4px 10px;
	line-height: 27px;
}
.askToDiff {
	display: inline-block;
	float: right;
	padding-left: 20px;
	margin-right: 6px;
	font-weight: normal;
	width: 63px;
	height: 25px;
	line-height: 23px;
	font-size: 14px;
	margin-top: 5px;
}
.askToDiff:link, .askToDiff:visited {
	background: url(../../static/image/item/old_icon.png?20140922) no-repeat 0 -45px;
	color: #fff;
	text-decoration: none;
}
.askToDiff:hover {
	background: url(../../static/image/item/old_icon.png?20140922) no-repeat 0 -70px;
	color: #fff;
	text-decoration: none;
}
.top60 {
	margin-top: -60px;
}
.talk_nav {
	overflow: hidden;
	font-weight: bold;
	font-size: 14px;
	background: #F5F5F5;
	height: 30px;
	line-height: 30px;
	padding: 5px;
	width: 645px;
}
.talk_view_pin, .talk_view_wen, .talk_view_da {
	background: url(../../static/image/item/bg_app.png?20140922) no-repeat;
	width: 45px;
	height: 20px;
}
.talk_view_ping {
	border: 1px solid #75c631;
	background-color: #fbfbfb;
	margin: 0;
	float: left;
	clear: both;
}
.talk_view_wenda {
	border: 1px solid #77cce7;
	background-color: #fbfbfb;
	margin: 0;
	float: left;
	clear: both;
}
.talk_view_pin {
	background-position: -126px -168px;
}
.talk_view_wen {
	background-position: 0 -168px;
}
.talk_view_da {
	background-position: -63px -168px;
	margin-top: -5px;
}
.talkhost, .talkmedia {
	background: url(../../static/image/item/ic01.gif?20140922) no-repeat scroll 0 0;
	border: none;
	display: inline-block;
}
.talkhost {
	width: 50px;
	height: 20px;
	background-position: 0 -80px;
}
.talkguest {
	color: #158eea;
	width: 49px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	font-size: 12px;
	background-color: #c8ebfb;
	clear: both;
	border: 1px solid #77cce7;
}
.talkmedia {
	width: 50px;
	height: 20px;
	background-position: 0 -128px;
}
.jianpa {
	margin-top: -10px;
	padding-left: 1px;
	width: 600px;
	float: left;
	display: block;
	border-radius: 0;
}
.handle .talkreply {
	padding: 2px 5px;
	font-weight: normal;
	font-size: 12px;
	border: 1px solid #e55d0c;
	color: #fff;
	background-color: #f27428;
	cursor: pointer;
}
.talknavone {
	border: 1px dashed #8ec7e3;
	background-color: #def3ff;
	padding: 10px;
	height: 20px;
	margin: 15px 0;
}
.talknavtwo {
	background-color: #f2f2f2;
	padding: 10px;
	height: 20px;
	margin: 15px 0;
}
.talknavone li, .talknavtwo li {
	float: left;
	margin: 0px 10px;
}
.pane {
	border-bottom: 1px dashed #d9d9d9;
}
.ask {
	clear: both;
	margin-left: 100px;
}
.wft_icon {
	background: url(../../static/image/item/wft_icon.png?20140922) no-repeat 0 0;
	margin-right: 4px;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.xttw {
	background-position: 2px -169px;
	width: 12px;
}
.askToDiffZone {
	background: url(../../static/image/item/titbg4.png?20140922) repeat 0 0;
	padding: 1px;
	_padding: 0;
	_border: 1px solid #FCE6D8;
	width: 122px;
	z-index: 999;
	position: absolute;
}
.askToDiffZone .laypopC {
	border: 1px solid #EE8748;
	background: #fff;
	width: 120px;
}
.askToDiffZone .laypopC li {
	line-height: 25px;
	border-top: 1px solid #FCD89F;
	background: #FFFBEB;
}
.askToDiffZone .laypopC li a {
	color: #585C5C;
	display: block;
	height: 25px;
	padding-left: 8px;
}
.askToDiffZone .laypopC li a:hover {
	color: #E65F0F;
	background: url(../../static/image/item/titbg3.gif?20140922) repeat 0 0;
	text-decoration: none;
}
.askToDiffZone .laypopC li.noborder {
	border-top: none;
}
.Listmain {
	width: 550px;
}
.ask-list {
	height: 600px;
}
.talk-list {
	margin-bottom: 20px;
	max-height: 600px;
	_height: 600px;
}
.talk-list, .ask-list {
	width: 610px;
	margin: 0 auto;
	padding: 0;
	clear: both;
}
.un {
	width: 300px;
}
.ask-list .feedCell {
	border-radius: 0px;
	width: 610px;
	margin: 0;
	padding: 10px 0;
}
.mycome {
	width: 220px;
}
.netfriask .Contant {
	background: none;
	margin-left: 15px;
}
.Contant, .topicTxt, .topicTxt .from {
	width: 545px;
	padding: 0;
}
.feedCell .wb_l_face {
	margin-top: 0;
	margin-left: 0
}
.jianpa .Contant {
	margin-left: 15px;
	width: 520px;
}
.jianpa .topicTxt, .jianpa .topicTxt .from {
	width: 510px;
}
.jianpa .wb_l_face {
	margin-left: 15px;
}
.jianpa .relayTxt .mid {
	width: 480px;
}
.jianpa .comment_p_t .replybb {
	width: 470px;
}
.jianpa .comment_p_b {
	width: 425px;
}
.jianpa .ttxt {
	width: 440px;
}
.jianpa .topicReply {
	padding-right: 0;
}
.jianpa .topicTxt p .un .ico_level {
	margin-top: 2px;
}
.netfriask .topicTxt p .un .ico_level {
	margin-top: 2px;
}
.netfriask .topicTxt, .netfriask .topicTxt .from {
	width: 545px;
	padding: 0;
}
.talkwrap .tlist {
	padding: 15px 0;
	overflow: hidden;
	height: 600px;
	overflow-y: scroll;
	background: #F1FAFD;
	margin-left: 0;
}
.talkline {
	border-bottom: 1px solid #ccc;
	float: left;
	height: 15px;
	margin-bottom: 15px;
	width: 100%;
}
.talkside {
	margin-top: 5px;
}
.talkside .tsbk {
	background: #FFFBEB;
	border: 1px solid #FDDBC7;
}
.talkside .ff_1 {
	width: 165px;
}
.talkside .act_ul li .fBox_r {
	width: 170px;
	padding: 0;
}
.talkside .attention {
	margin: 0;
}
.talkside .ask {
	margin-left: 150px;
}
.talkwraplist {
	float: left;
	clear: both;
	position: relative;
}
.topicTxt p.utitle {
	margin-bottom: 10px;
}
.talkwrapheight {
	width: 655px;
	height: 700px;
	float: left;
	overflow: hidden;
	clear: both;
	z-index: 10;
	position: relative;
}
.handle ul li {
	z-index: 0
}
.talkwrap .sideBar {
	width: 265px;
	overflow: hidden;
	padding-left: 0;
	padding-right: 20px;
}
.talkside .column {
	padding: 10px 15px 0;
	margin-right: 0;
	border: 1px solid #eee;
	margin-bottom: 15px;
}
.talk_list_side li, .live_list_side li {
	padding: 0 0 20px;
}
.talkviewtop {
	float: left;
	width: 830px;
	margin-top: -85px;
}
.talkwrap{
	width: 940px;
	background: #fff;
	padding: 20px;
}
.talkwrap .talkviewtop{ width:940px;margin-top:0;overflow: hidden;}
.talkwrap .mainWrap{ margin-left:0;width: 655px;border:none;}