/* CSS Document begin */
/*投票部分*/
.poll_list {
	margin: 0 auto;
	width: 700px;
}
.poll_list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.poll_list ul li {
	padding: 10px 0;
	width: 100%;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}
.poll_user {
	float: left;
	margin: 0 15px 0 0;
	width: 60px;
	overflow: hidden;
}
.poll_user p {
	text-align: center;
}
.poll_content {
	float: left;
	margin: 0 20px 0 0;
	width: 545px;
}
.poll_content h4 {
	font-size: 14px;
}
.poll_content h4 .poll_reward {
	margin: 0 10px 0 0;
	padding: 0 0 0 12px;
	background: url(../../static/image/vote/gold_icon.gif?20140922) no-repeat left center;
	color: #e76969;
	font-size: 11px;
}
.poll_content .poll_options {
	position: relative;
}
.poll_content .poll_options ol {
	margin: 10px 0;
	padding: 0;
}
.poll_content .poll_options ol li {
	padding: 0;
	border: none;
}
.poll_status {
	float: left;
	padding: 10px 0 0;
	width: 60px;
}
a.poll_joins {
	margin: 0 0 5px;
	padding: 12px 0;
	width: 60px;
	height: 36px;
	background: url(../../static/image/vote/joins_bg.gif?20140922) no-repeat 0 0;
	text-align: center;
	color: #FF8E00;
	display: block;
	overflow: hidden;
}
a.poll_joins:hover {
	text-decoration: none;
}
a.poll_joins span {
	font-size: 16px;
	font-weight: bold;
	display: block;
}
a.go2_poll {
	padding: 0 0 0 17px;
	width: 43px;
	height: 24px;
	line-height: 24px;
	background: url(../../static/image/vote/poll_button.jpg?20140922) no-repeat 0 0;
	display: block;
}
.poll_header {
	margin: 0 0 20px;
	width: 100%;
	color: #999;
	overflow: hidden;
}
.poll_title {
	position: relative;
	padding: 5px 10px;
	color: #999;
	text-align: center;
}
.poll_title h3 {
	margin: 0 5px 0 0;
	color: #333;
	font-size: 16px;
	display: inline;
}
.poll_title img {
	vertical-align: middle;
}
.poll_depiction {
	padding: 20px 0;
	color: #666;
}
.poll_submit {
	margin: 0;
	margin-bottom: 30px;
	float: right;
	width: 560px;
	text-align: right;
}
.poll-select-radio {
	text-align: left;
	width: 555px;
	float: left;
	display: block;
	margin-bottom: 0;
}
.poll_submit span {
	margin-right: 10px;
}
.poll_submit .submit {
	margin: 0 0 5px;
	width: 60px;
}
.poll_p {
	margin: 0 0 20px;
	height: 20px;
}
.print {
	position: absolute;
	right: 0;
	margin: 15px 50px 0 0;
	width: 60px;
	height: 60px;
	text-indent: -999px;
	background: url(../../static/image/vote/print.gif?20140922) no-repeat 0 0;
	overflow: hidden;
}
.overtime {
	background-position: -60px 0;
}
.poll_item_list {
	margin: 0;
	padding: 20px 0 10px;
	line-height: 20px;
	list-style: none;
}
.poll_item_list li {
	padding: 8px 10px;
	border-bottom: 1px dotted #ededed;
	overflow: hidden;
	height: 20px;
	line-height: 20px;
	float: none;
	width: auto;
	position: relative;
}
.poll_item_list li:hover {
	border-color: #ccc;
}
.poll_item_list .poll_item_list_check {
	float: left;
	display: inline;
*width:240px;
	position: relative;
}
.poll_item_list .poll_item_list_check input {
	float: left;
	margin: 3px 3px 0 0;
}
.poll_item_list .poll_item {
	float: left;
	margin: 0 10px 0 5px;
	width: 240px;
	text-align: left;
	overflow: hidden;
	height: 20px;
    *position:absolute;
}
.poll_item_list .poll_percent {
	float: right;
}
.poll_item_list .poll_pic {
	float: left;
	margin: -20px 0 0 195px;
	_margin: -20px 0 0 95px;
	width: 50px;
}
.poll_htitle {
	padding: 0 0 5px;
	height: 20px;
	border-bottom: 1px solid #eee;
}
.poll_htitle .custom a {
	float: left;
	margin: 0 5px 0 0;
	width: 75px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	display: block;
}
.poll_htitle a.active {
	background: url(../../static/image/vote/stab_bg.gif?20140922);
	color: #fff;
}
.poll_summary {
	margin: 0 0 20px;
	padding: 20px 0;
	border: 1px dashed #CDCDCD;
	border-left: none;
	border-right: none;
}
.poll_sumuptitle {
	font-weight: normal;
}
.poll_sumup {
	padding: 10px 10px 0;
	color: green;
}
.poll_new {
	padding: 0 10px;
}
.poll_new li {
	background: url(../../static/image/vote/poll_icon.gif?20140922) no-repeat 0 3px;
}
#showvoter {
	padding-bottom: 1em;
}
.voter_list {
	padding: 10px 20px;
	color: #999;
}
.voter_list li {
	margin: 0 0 5px;
}
.voter_list li.moretitle {
	padding: 5px 0;
	color: #333;
	font-weight: bold;
}
.meicon {
	position: absolute;
	margin: 3px 0 0 -15px;
}
.bar_bg {
	float: left;
	width: 130px;
	height: 20px;
	background: url(../../static/image/vote/poll_bar_bg.gif?20140922) no-repeat 0 0;
	overflow: hidden;
}
.bar_bg div {
	float: left;
	width: 5px;
	height: 20px;
	overflow: hidden;
}
.bar_bg .bar_left {
	background-image: url(../../static/image/vote/poll_bar_column_left.gif?20140922);
	background-repeat: no-repeat;
}
.bar_bg .bar_right {
	background-image: url(../../static/image/vote/poll_bar_column_right.gif?20140922);
	background-repeat: no-repeat;
}
.bar_bg .bar_middle {
	background-image: url(../../static/image/vote/poll_bar_column.gif?20140922);
}
.bc_0 div {
	background-position: 0 0;
}
.bc_1 div {
	background-position: 0 -20px;
}
.bc_2 div {
	background-position: 0 -40px;
}
.bc_3 div {
	background-position: 0 -60px;
}
.bc_4 div {
	background-position: 0 -80px;
}
.bc_5 div {
	background-position: 0 -100px;
}
.bc_6 div {
	background-position: 0 -120px;
}
.bc_7 div {
	background-position: 0 -140px;
}
.bc_8 div {
	background-position: 0 -160px;
}
.bc_9 div {
	background-position: 0 -180px;
}
.bc_10 div {
	background-position: 0 -200px;
}
.bc_11 div {
	background-position: 0 -220px;
}
.bc_13 div {
	background-position: 0 -260px;
}
.bc_14 div {
	background-position: 0 -280px;
}
.bc_15 div {
	background-position: 0 -300px;
}
.bc_16 div {
	background-position: 0 -320px;
}
.bc_17 div {
	background-position: 0 -340px;
}
.bc_18 div {
	background-position: 0 -360px;
}
.bc_19 div {
	background-position: 0 -380px;
}
/*适用于非投票页面*/
.index_v_title {
	border-bottom: 1px dotted #ddd;
	padding-bottom: 5px;
	margin-bottom: 10px;
	text-align: right;
	color: #999;
}
.index_v_title span {
	background: url(../../static/image/vote/vote_icon.gif?20140922) no-repeat;
	padding-left: 13px;
	margin: 0 5px;
}
.index_v_title span.v_close {
	background-position: 0 2px
}
.index_v_title span.v_from {
	background-position: 0 -22px
}
.index_tp {
	margin: 0 auto;
}
.index_tp .poll_percent {
	width: 60px;
	float: left;
	text-align: left;
}
.index_tp .floatleft {
	float: left;
	margin: -10px 0 0 30px;
	width: 30px;
}
.index_tp .bar_bg {
	width: 136px;
	float: left;
	background: url(../../static/image/vote/poll_bar_bg1.gif?20140922) no-repeat 0 0;
}
.index_tp .poll_item_list .poll_item {
	margin: 0 0 5px 0;
	width: 200px;
	text-align: left;
}
.index_tp .poll_item_list {
	padding: 10px 0;
}
.index_tp_input {
	vertical-align: -2px;
	margin-right: 3px;
}
.index_v_tig {
	border: solid 1px #C5B270;
	background: #FFFBD6;
	padding: 5px;
	display: none;
	clear: both;
	margin-bottom: 5px;
}
.vtd, .vtd2 {
	text-align: left;
	clear: both;
	margin: 0 auto;
	color: #999;
}
.vtd {
	font-size: 14px;
	padding: 0 0 3px;
	font-weight: 600;
}
.vote_tips {
	background: #E5EEF2 url(../../static/image/no.png?20140922) no-repeat 236px 7px;
	color: #8A9FA9;
vertical-align middle;
	height: 16px;
	line-height: 16px;
	padding: 8px 0;
	text-align: center;
	margin-top: 10px;
}
.vote_pic_list {
	width: 100px;
	height: 100px;
	padding: 2px;
background:;
	border: 1px solid #D5DEE3;
	position: relative;
	float: left;
	cursor: pointer;
}
.vote_pic_list .vote_pic_list_p {
	background: #E6E8E9;
	text-align: center;
	vertical-align: middle;
	width: 100px;
	height: 100px;
	overflow: hidden;
}
.vote_pic_list .vote_pic_list_p span {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 6px;
*top:79px;
*right:7px;
	bottom: 0;
}
.vote_pic_list .vote_pic_list_p img {
	width: auto;
	height: 75px;
	vertical-align: middle;
}
.vote_pic_list .vote_pic_list_p span input {
	margin: 2px 0px 2px 0;
}
.vote_pic_text {
	width: 400px;
	margin-left: 30px;
	float: left;
}
/*投票页面图片投票部分*/
.vote_pic {
	width: 630px;
	float: left;
}
.vote_pic li {
	width: 610px;
	height: 76px;
	padding: 0 0 10px 0;
	margin-bottom: 10px;
	float: left;
	display: inline;
	border-bottom: 1px dotted #DDD;
}
.vote_pic li:hover {
	background: none;
}
.vote_pic li .vote_pic_text {
	width: 260px;
	float: left;
	margin-left: 10px;
}
.vote_pic li .vote_pic_list {
	width: 120px;
	height: 70px;
}
.vote_pic li .vote_pic_list:hover {
	background: #f60;
	border: 1px solid #F60;
}
.vote_pic li .vote_pic_listed {
	background: #f60;
	border: 1px solid #F60;
}
.vote_pic li .vote_pic_list .vote_pic_list_p {
	width: 120px;
	height: 70px;
}
.vote_pic li .poll_percent {
	font-weight: 600;
	color: #666;
	margin-right: 10px;
}
.vote_pic .poll_item {
	width: 450px;
}
/*微博页面图片投票部分*/
.index_tp .vote_pic {
	width: 540px;
	float: left;
}
.index_tp .vote_pic li {
	width: 245px;
	height: 205px;
	padding: 0;
	margin-right: 16px;
	float: left;
	display: inline;
}
.index_tp .vote_pic li:hover {
	background: none;
}
.index_tp .vote_pic li .vote_pic_list {
	float: left;
	margin-left: 0;
}
.index_tp .vote_pic li .vote_pic_text {
	width: 260px;
}
.index_tp .vote_pic .poll_item {
	width: 150px;
}
.index_tp .vote_pic li .bar_bg {
	margin: 0 5px 0 0;
	width: 130px;
	position: static;
}
.vote_pic_big {
	max-height: 300px;
	max-width: 400px;
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;
	display: none;
}
.voteBtn {
	position: relative;
	width: 71px;
	height: 28px;
	margin: 0 0 0 190px;
	overflow: hidden;
	float: left;
	vertical-align: top;
}
.voteBtn s {
	zoom: 1;
	overflow: hidden;
}
.voteBtn .vote_btn {
	width: 71px;
	height: 28px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.u-send:before, .u-send:after {
	display: none;
}