/*###########################
   @Name:微群样式 T2 
#############################*/


/* CSS Document begin */
body{ 
	background-color: #FED89A;
	background-image: url(../../../static/image/quntheme/t2/themebg.jpg);
	background-attachment: fixed;
	background-position: 50% 0%;
	background-repeat: no-repeat no-repeat;
}
