/*###########################
   @Name:微群样式 T3 
#############################*/


/* CSS Document begin */
body{
	background-color: #D0C2B9;
	background-image: url(../../../static/image/quntheme/t3/themebg.jpg);
	background-attachment: fixed;
	background-position: 50% 0%;
	background-repeat: repeat;
}
