/*###########################
   @Name:微群样式 T4 
#############################*/

/* CSS Document begin */
body{ 
	background-color: #FFC8C3;
	background-image: url(../../../static/image/quntheme/t4/themebg.jpg);
	background-attachment: fixed;
	background-position: 50% 0%;
	background-repeat: no-repeat no-repeat;
}


